body {
    background: #fafafa;
    font-family: "Open Sans", sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Tabs */
.nav-tabs > li{cursor:pointer}

/* Modal */
.modal-dialog{width:800px}

/* Tooltip */
.tooltip-inner { background-color: #fff;
		 color: #000;
		 border: 1px solid #000;
		 font-weight: normal }
.infos .tooltip-inner { background-color: #111;
			color: #fff;
			border: 1px solid #fff;
			font-weight: normal }

/* Cahier de Textes */
/* Calendrier */
.fc-state-default {
    background-image: none;
    box-shadow: 0;
    color: #333;
    text-shadow: 0;
}

.fc-event-vert.fc-event-end,
.fc-event-vert.fc-event-start,
.fc-state-default.fc-corner-left,
.fc-state-default.fc-corner-right {border-radius:0}

.cdt-agendaDay-container{overflow:auto}
.cdt-agendaDay-event{width:220%}
.cdt-agendaDay-cours{background-color:#aaaaff}
.cdt-agendaDay-devoir{background-color:#ff6666}
.cdt-agendaDay-devoir-fait{background-color:#66cc66}

.fc-event-title{ position: absolute;
		 text-align: center;
		 top: calc(50% - 0.75em);
		 width: 100%; }
.clickable-event{ cursor:pointer }
.un-clickable-event{ cursor:default }

.edt-cours { background-color: #929292 }
.edt-cours-saisie, .edt-cours-saisie-valide { background-color: #707070 }
.edt-cours-saisie { text-decoration: underline }
.edt-cours-saisie-valide { border-left: 8px solid #0f0 }
.edt-permanence{ background-color: #d5d5d5 }
.edt-devoir-a-faire{ background-color: #ae8ab8 }
.edt-devoir-fait{ background-color: #8dc47c }
.edt-devoir-note-maison{ background-color: #00afd4 }
.edt-devoir-note-surveille{ background-color: #f56d68 }

.edt-cours-saisie,
.edt-devoir-a-faire,
.edt-devoir-fait { font-weight:bold }

.timepicker{display:inline-block}

.modal-footer { text-align: center }

/* Principal */
/** Enseignants **/
.bloc-enseignant .panel{height:11em}
.bloc-enseignant .panel-heading{padding-top:0;padding-bottom:0}
.bloc-enseignant .panel-heading span.glyphicon{cursor:pointer}
.bloc-enseignant .panel-body{text-align:center}
.bloc-enseignant .panel-body .badge{text-align:left}
.tooltip *{text-align:left}
/** Enseignant **/
.principal-enseignant-grid{padding:0}
.ng-valid.glyphicon-ok-sign{color:#0f0}

/* Enseignant */
.panel-heading.enseignant-saisie input,
.panel-heading.enseignant-saisie select,
.panel-heading.enseignant-saisie .panel-title{display:inline}
.panel-heading.enseignant-saisie .panel-title{width:33%}
.panel-heading.enseignant-saisie input{border:1px solid #aaa}

.ajout-devoir { color: #999;
		font-weight: bold;
		text-align: left;
		width: 100%; }

.edition-creneau select{width:12.5em}

.accordion-toggle{cursor:pointer}
.duplication-saisie div,.duplication-saisie select{width:100%}

.ressources .attached-document { float: left;
				 border: 1px solid #aaa;
				 background-color: #999;
				 margin: 3px;
				 padding-left: 2px; }
.ressources .attached-document a { color: #fff }
.ressources .dropdown-menu { width:333%;
			     padding: 3px; }
.ressources .upload,
.ressources .treecontrol-container {float: left;
				    width: 100%}
.treecontrol-container {max-height:10em;
			overflow:auto;
			background-color:#fff}


.message{width:40%;margin:0 auto}

.compteur { border-radius:1em;
	    background-color:#f00;
	    color:#fff;
	    font-weight:bolder;
	    padding:0 .4em }

.body-header {text-align: center }

#loading-bar .bar { height:12px }
#loading-bar-spinner { top:calc( 50% - 64px );
		       left:calc( 50% - 64px ) }
#loading-bar-spinner .spinner-icon { background-color:rgba(0,0,0,0.25);
				     height:128px;
				     width:128px;
				     border-radius:64px }
.individualPieChart {float:left}

footer { color: #555;
	 font-size: 0.8em;
	 text-align: right }


.creneau .jour,
.devoir .date { color: #aba;
		font-size: 3em;
		font-weight: bold }

.creneau .info,
.creneau .contenu,
.devoir .info,
.devoir .contenu { margin-left: 3em }
.creneau .info .matiere,
.creneau .info .regroupement,
.devoir .info .matiere { font-weight: bold }
.creneau .detail.
.devoir .todo,
.devoir .detail { line-height:4em }
.devoir .todo { margin-left:1em }
.devoir .todo button{ border:0 }

.creneau .date span { float: left;
		      width: 100% }
.creneau .date .horaire { text-align: center }
.creneau .devoirs { float: left;
		    width: 100% }
.creneau.vise {border-left: 1em solid #0f0}



.modal-header h3 { font-weight: bold;
		   color:#aaa;
		   text-align: center; }

.modal-body .tab-content { min-height: 11em;
			   border: 1px solid #aaa;
			   border-top: 0; }
.modal-body .infos ul { padding-left:0 }
.modal-body .infos ul li { list-style: none;
			    line-height: 2em }
.modal-body .infos ul li em { font-weight: bold;
			       font-style: normal }
.modal-body .toggle-fait { margin-bottom: 5px }
.modal-body .toggle-fait .switch {margin:0 auto;}
.modal-body .infos .clickable { border: 1px solid #666;
				cursor: pointer;
				font-size: 0.9em;
				padding:0 o.15em; }
.modal-body .infos .type1,
.modal-body .infos .type2,
.modal-body .infos .type3,
.modal-body .infos .type4,
.modal-body .infos .type5,
.modal-body .infos .type6,
.modal-body .infos .fait { border-left: 0.5em solid #fff }

.type1, .type2, .type3, .type4, .type5, .type6, .fait { border-left: 1.5em solid #fff }
.modal-body .infos .type1, .type1 {border-color: #f00} /*DS*/
.modal-body .infos .type2, .type2 {border-color: #fc0} /*DM*/
.modal-body .infos .type3, .type3 {border-color: #00f} /*Leçon*/
.modal-body .infos .type4, .type4 {border-color: #ff0} /*Exposé*/
.modal-body .infos .type5, .type5 {border-color: #f0f} /*Recherche*/
.modal-body .infos .type6, .type6 {border-color: #0ff} /*Exercice*/
.modal-body .infos .fait, .fait {border-color: #8dc47c}  /*Devoir fait*/


.temps-est-on, .temps-est-off { display: inline-block;
				border: 1px solid #666;
				border-radius: 1em;
				height: 12px;
				width: 12px;
				margin: 0 0 0 3px; }
.temps-est-on { background-color: #eecd6c }

/* pictos */
.picto { display: inline-block;
	 height: 1em;
	 width: 1em;
	 background-size: cover;
	 color: #111; }
.picto.cours { background-image: url( '/app/bower_components/charte-graphique-laclasse-com/images/picto_cours.svg' ) }
.picto.cross { background-image: url( '/app/bower_components/charte-graphique-laclasse-com/images/picto_cross.svg' ) }
.picto.devoir { background-image: url( '/app/bower_components/charte-graphique-laclasse-com/images/picto_devoir.svg' ) }
.picto.matiere { background-image: url( '/app/bower_components/charte-graphique-laclasse-com/images/picto_matiere.svg' ) }
.picto.temps { background-image: url( '/app/bower_components/charte-graphique-laclasse-com/images/picto_temps.svg' ) }


fieldset .label {margin: 1px;}

label { color: #999; }
h3, .h3 { text-transform: uppercase; }

.edition-creneau .row-fluid { min-height:4em; }
.edition-creneau .horaire { display:inline-block;
			    font-weight: bold;
			    font-size: 1.2em; }
.edition-creneau .horaire a { color:#000 }
.edition-creneau .horaire a:hover { text-decoration: none }

/* Pour ngSwitcher */
.switch { border-radius: 13px }
.switch.switch-left { background-color:#ae8ab8;
		      border-color:#ae8ab8 }
.switch.switch-right { background-color:#8dc47c;
		       border-color:#8dc47c;
		       color: #8dc47c }
.switch .switch-button { height: 26px;
			 width: 26px;
			 margin-top: 1px;
			 border: 0 }
.switch.switch-left .switch-button { left: 1px }
.switch.switch-right .switch-button { left: 21px }

/* next 2 rules copied from font-awesome css */
.switch .switch-button{ font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 1.5em;
			padding: 3px; }
.switch.switch-right .switch-button::before { content: " \f00c"; }


/* textAngular */
.ta-root { padding: 0; }
.ta-toolbar { background-color: #eee; }
.panel-footer { background-color: #888; }