body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Modal */
.modal-dialog{width:800px}

/* Cahier de Textes */
/* Calendrier */
.cdt-agendaDay-container{overflow:auto}
.cdt-agendaDay-event{width:220%}
.cdt-agendaDay-cours{background-color:#aaaaff}
.cdt-agendaDay-devoir{background-color:#ff6666}
.cdt-agendaDay-devoir-fait{background-color:#66cc66}

.clickable-event{cursor:pointer}
.un-clickable-event{cursor:default}


/* Principal */
/** Enseignants **/
.bloc-enseignant .panel-heading{padding-top:0;padding-bottom:0}
.bloc-enseignant .panel-body{height:12em;overflow:auto}
/** Enseignant **/
.principal-enseignant-grid{padding:0}

/* Enseignant */
.panel-heading.enseignant-saisie input,
.panel-heading.enseignant-saisie select,
.panel-heading.enseignant-saisie .panel-title{display:inline}
.panel-heading.enseignant-saisie .panel-title{width:33%}
.panel-heading.enseignant-saisie input{border:1px solid #aaa}




.message{width:40%;margin:0 auto}



/* Loading animation */
/* See more at: http://cssload.net/#sthash.l1QOwdDd.dpuf */
#bowlG{
    position:fixed;
    margin:25%;
    z-index:999;
    background-color:#777;
    opacity:0.33;
    /* position:relative; */
    width:128px;
    height:128px;
}

#bowl_ringG{
    position:absolute;
    width:128px;
    height:128px;
    border:11px solid #16161d;
    -moz-border-radius:128px;
    -webkit-border-radius:128px;
    -ms-border-radius:128px;
    -o-border-radius:128px;
    border-radius:128px;
}

.ball_holderG{
    position:absolute;
    width:34px;
    height:128px;
    left:47px;
    top:0px;
    -moz-animation-name:ball_moveG;
    -moz-animation-duration:1.7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:ball_moveG;
    -webkit-animation-duration:1.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:ball_moveG;
    -ms-animation-duration:1.7s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:ball_moveG;
    -o-animation-duration:1.7s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:ball_moveG;
    animation-duration:1.7s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.ballG{
    position:absolute;
    left:0px;
    top:-30px;
    width:51px;
    height:51px;
    background:#ececec;
    -moz-border-radius:43px;
    -webkit-border-radius:43px;
    -ms-border-radius:43px;
    -o-border-radius:43px;
    border-radius:43px;
}

@-moz-keyframes ball_moveG{
    0%{-moz-transform:rotate(0deg)}
    100%{-moz-transform:rotate(360deg)}
}

@-webkit-keyframes ball_moveG{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}

@-ms-keyframes ball_moveG{
    0%{-ms-transform:rotate(0deg)}
    100%{-ms-transform:rotate(360deg)}
}

@-o-keyframes ball_moveG{
    0%{-o-transform:rotate(0deg)}
    100%{-o-transform:rotate(360deg)}
}

@keyframes ball_moveG{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}