body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Modal */
.modal-dialog{width:800px}

/* Cahier de Textes */
/* Calendrier */
.cdt-agendaDay-container{overflow:auto}
.cdt-agendaDay-event{width:220%}
.cdt-agendaDay-cours{background-color:#aaaaff}
.cdt-agendaDay-devoir{background-color:#ff6666}
.cdt-agendaDay-devoir-fait{background-color:#66cc66}

.clickable-event{ cursor:pointer }
.un-clickable-event{ cursor:default }

.saisie-vide { background-color:#a0a0a0 }
.saisie-invalide { background-color:#aaf }
.saisie-valide { background-color:#0f0 }
.saisie-devoirs { background-color:#f66 }
.saisie-devoirs-fait { background-color:#6c6 }

.saisie-invalide,
.saisie-valide,
.saisie-devoirs,
.saisie-devoirs-fait { font-weight:bold }

/* Principal */
/** Enseignants **/
.bloc-enseignant .panel-heading{padding-top:0;padding-bottom:0}
.bloc-enseignant .panel-body{height:12em;overflow:auto}
/** Enseignant **/
.principal-enseignant-grid{padding:0}

/* Enseignant */
.panel-heading.enseignant-saisie input,
.panel-heading.enseignant-saisie select,
.panel-heading.enseignant-saisie .panel-title{display:inline}
.panel-heading.enseignant-saisie .panel-title{width:33%}
.panel-heading.enseignant-saisie input{border:1px solid #aaa}




.message{width:40%;margin:0 auto}



#loading-bar .bar { height:12px }
#loading-bar-spinner { top:calc( 50% - 64px );
		       left:calc( 50% - 64px ) }
#loading-bar-spinner .spinner-icon { background-color:rgba(0,0,0,0.25);
				     height:128px;
				     width:128px;
				     border-radius:64px }
.individualPieChart {float:left}