*~
.DS_Store
*.bak
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/vendor/

# YARD artifacts
.yardoc
_yardoc
doc/

# Vagrant
vagrant/
.vagrant/

#config
config/thin.yml
config/options.rb
config/database.rb
config/constants.rb

# libs
/lib/key_pronote

# données de test non anonymisées
/spec/fixtures/UDT/*.xml
/clef_privee
/clef_publique
/public/app/scripts/constants.js
