*~
.DS_Store
*.bak
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/vendor/

# YARD artifacts
.yardoc
_yardoc
doc/

# Vagrant
vagrant/
.vagrant/

#config
config/thin.yml
config/options.rb
config/database.rb
config/constants.rb

# libs
/lib/key_pronote

# données de test non anonymisées
/spec/fixtures/UDT/*.xml
/clef_privee
/clef_publique
/spec/fixtures/UDT.zip
/spec/api/cookieCT.txt
/config/*.before
/config/*.after
/config/*.orig
/public/app/js/constants.js
/public/app/js/templates/*.js
/public/app/js/*.min.js
/public/app/js/*/*.min.js
/public/app/js/*/*/*.min.js
/public/app/vendor/*.min.js
/public/app/css/cdt.min.css
/public/app/vendor/vendor.min.css
/public/app/js/cdt.min.js.map
/public/app/vendor/vendor.min.js.map
/cahierdetextes*.sql
/config/options.rb.legacy-master
/config/options.rb.prod_v2
/config/options.rb.v3
/config/puma.rb
/*.sql
