<div class="panel panel-default"
     ng:swipe-left="$ctrl.decr_offset()"
     ng:swipe-right="$ctrl.incr_offset()">
    <div class="panel-heading">
        <div class="row col-md-12">
            <h2>
                Du {{$ctrl.from_date | amDateFormat:'Do MMMM YYYY'}} au {{$ctrl.to_date | amDateFormat:'Do MMMM YYYY'}}
            </h2>
        </div>

        <div class="row col-md-12">
            <select class="pull-left"
                    ng:options="matiere as matiere.name for (id,matiere) in $ctrl.matieres"
                    ng:model="$ctrl.matiere_selected"
                    ng:change="$ctrl.filter_data( $ctrl.matiere_selected )">
                <option value="" selected>Toutes les matières</option>
            </select>

            <select class="pull-left"
                    ng:model="$ctrl.period_offset"
                    ng:options="period.offset as period.label for period in $ctrl.period_offsets_list">
            </select>
            <button class="btn btn-default" ng:click="$ctrl.incr_offset()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
            <button class="btn btn-default" ng:click="$ctrl.decr_offset()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

            <div class="pull-right options">
                <label ng:if="!$ctrl.parent"><checkbox ng:model="$ctrl.affiche_faits"></checkbox> Afficher les devoirs déjà faits</label>
                <label><checkbox ng:model="$ctrl.tri_ascendant"></checkbox> Tri ascendant</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<ul class="list-group todo-list" ng:if="$ctrl.devoirs">
    <li ng:repeat="devoir in $ctrl.devoirs | orderBy:'date_due':$ctrl.tri_ascendant"
        ng:if="devoir.date_fait == null || $ctrl.affiche_faits"
        style="list-style:none"
        class="devoir list-group-item" >

        <div class="row alert alert-default title">
            <div class="pull-left date">{{devoir.date_due | amDateFormat: 'dddd D MMMM'}}</div>
        </div>

        <div class="row contenu">
            <display-devoir class="col-md-5 alert alert-default"
                            devoir="devoir"></display-devoir>

            <display-sequence-pedagogique class="col-md-5 alert alert-default"
                                          ng:if="devoir.cours && devoir.cours.contenu !== ''"
                                          sp="devoir.cours"></display-sequence-pedagogique>

            <div class="col-md-2 pull-right todo">
                <switch-devoir devoir="devoir"
                               ng:if="current_user.is( ['ELV'] )" ></switch-devoir>
            </div>
        </div>

        <div class="clearfix"></div>
    </li>
</ul>
<span class="no-data" ng:if="$ctrl.devoirs.length == 0">
    Aucun devoir trouvé pour cette période.
</span>
