<div class="panel panel-default">
    <div class="panel-heading" ng:if="$ctrl.current_user.is( ['ENS', 'EVS', 'DIR', 'ADM', 'DOC'])">

        <div class="ui-select-wrapper">
            <ui-select multiple class="pull-left" theme="bootstrap"
                       append-to-body="true"
                       ng:change="$ctrl.refresh_calendar()"
                       ng:model="$ctrl.selected_regroupements">
                <ui-select-match placeholder="Regroupement(s)...">
                    <span class="label" ng:class="{'label-success': $item.type === 'GRP', 'label-info': $item.type === 'CLS', 'label-warning': $item.type === 'GPL' }">
                        {{$item.name}}
                    </span>
                </ui-select-match>
                <ui-select-choices repeat="classe in $ctrl.current_user.actual_groups | orderBy:['type','name']"
                                   group-by="'full_type'">
                    <span class="label" ng:class="{'label-success': classe.type === 'GRP', 'label-info': classe.type === 'CLS', 'label-warning': classe.type === 'GPL' }">
                        {{classe.name}}
                    </span>
                </ui-select-choices>
            </ui-select>
            <button class="btn btn-xs btn-primary"
                    ng:click="$ctrl.select_all_regroupements()"><span class="glyphicon glyphicon-certificate"></span></button>
            <button class="btn btn-xs btn-default"
                    ng:click="$ctrl.select_no_regroupements()"><span class="glyphicon glyphicon-erase"></span></button>
        </div>

        <div class="pull-right options" ng:if="$ctrl.current_user.is( ['ENS', 'DOC'] )">
            <label><checkbox class="btn-info" ng:model="$ctrl.uniquement_mes_creneaux"
                             ng:change="$ctrl.refresh_calendar()"></checkbox> Ne montrer que ce qui me concerne directement</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body"
         ng:class="{'vacances': $ctrl.c_est_les_vacances}">
        <div data-calendar="$ctrl.emploi_du_temps"
             id="emploi_du_temps"
             data-ui-calendar="$ctrl.calendar.options"
             class="calendar"
             ng:model="$ctrl.calendar.events"
             calendar-watch-event="$ctrl.extraEventSignature"
             ng:swipe-left="$ctrl.next()"
             ng:swipe-right="$ctrl.prev()"></div>
        <div class="col-md-12">
            <div class="pull-right legende">
                <label>Légende :</label>
                <label><span class="label edt-cours" title="Cours"> </span> Cours</label>
                <!-- <span class="label edt-permanence" title="Permanence"> </span> Permanence -->
                <label><span class="label edt-devoir-a-faire" title="Devoir à faire"> </span> Devoir à faire</label>
                <label ng:if="$ctrl.current_user.is( ['ELV'] )"><span class="label edt-devoir-fait" title="Devoir fait ! Youpi !"> </span> Devoir fait</label>
                <label><span class="label edt-devoir-note-maison" title="Devoir à faire à la maison"> </span> DM - devoir maison</label>
                <label><span class="label edt-devoir-note-surveille" title="Devoir surveillé"> </span> DS - devoir surveillé</label>
            </div>
        </div>
    </div>
</div>
