<div class="container">

  <header data-ng-controller="HeaderCtrl" data-ng-hide="embedded" data-ng-cloak>
    <div class="row">
      <div class="navbar col-md-12">
	<div class="pull-right">
	  {{current_user['LaclassePrenom']}} {{current_user['LaclasseNom']}}
	  <select data-ng-model="current_user['profil_actif']"
		  data-ng-options="profil['etablissement'] + ' : ' + profil['nom'] group by profil['etablissement'] for profil in current_user['profils']" data-ng-change="reload()">
	  </select>
	  <a class="btn btn-danger" href="logout" tooltip="Déconnexion" tooltip-placement="bottom"><i class="glyphicon glyphicon-log-out"></i></a>
	</div>
      </div>
    </div>
  </header>

  <div data-ui-view></div>

  <footer data-ng-controller="FooterCtrl" data-ng-cloak>
    <div class="pull-left">
      <a class="dropdown-toggle btn btn-xs btn-default pull-left" role="button"
	 data-toggle="dropdown"
	 data-target="#" href="">
	<span class="glyphicon glyphicon-cog"></span> Préférences
      </a>
      <ul class="dropdown-menu user-preferences" role="menu">
	<li><label><input type="checkbox" data-ng-model="current_user.parametrage_cahier_de_textes.affichage_week_ends"
			  data-ng-change="reload()" /> Afficher les week-ends</label></li>
	<li><label><input type="checkbox" data-ng-model="current_user.parametrage_cahier_de_textes.affichage_types_de_devoir"
			  data-ng-change="reload()" /> Afficher les types de devoirs</label></li>
      </ul>

    </div>
    <span class="pull-right">version {{version}}</span>
  </footer>

</div>
