<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" type="text/css" href="app/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="app/bower_components/metro-bootstrap/dist/css/metro-bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="app/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" /> -->

    <link rel="stylesheet" type="text/css" href="app/bower_components/ng-grid/ng-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="app/bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="app/bower_components/angular-loading-bar/src/loading-bar.css" />
    <link rel="stylesheet" type="text/css" href="app/bower_components/nvd3/nv.d3.css"/>
    <link rel="stylesheet" type="text/css" href="app/bower_components/angular-tree-control/css/tree-control.css"/>
    <link rel="stylesheet" type="text/css" href="app/bower_components/angular-tree-control/css/tree-control-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="app/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/bower_components/ng-switcher/dist/ng-switcher.min.css"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="app/styles/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="app/styles/main.css">
    <!-- endbuild -->
  </head>
  <body data-ng-app="cahierDeTexteApp">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="app/http://browsehappy.com/">Upgrade your browser today</a> or <a href="app/http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="app/bower_components/es5-shim/es5-shim.js"></script>
    <script type="text/javascript" src="app/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->



    <%= yield %>



    <!-- build:js scripts/modules.js -->
    <script type="text/javascript" src="app/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="app/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="app/bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="app/bower_components/moment/min/moment-with-langs.min.js"></script>
    <script type="text/javascript" src="app/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>

    <script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/bower_components/ng-grid/build/ng-grid.js"></script>
    <script type="text/javascript" src="app/bower_components/ng-grid/plugins/ng-grid-flexible-height.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="app/bower_components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="app/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="app/bower_components/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script type="text/javascript" src="app/bower_components/d3/d3.js"></script>
    <script type="text/javascript" src="app/bower_components/nvd3/nv.d3.js"></script>
    <script type="text/javascript" src="app/bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-tree-control/angular-tree-control.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="app/bower_components/ng-switcher/dist/ng-switcher.min.js"></script>
    <script type="text/javascript" src="app/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!--
    <script type="text/javascript" src="app/scripts/app.min.js"></script>
    <script type="text/javascript" src="app/scripts/constants.min.js"></script>
    <script type="text/javascript" src="app/scripts/routes.js"></script>
    <script type="text/javascript" src="app/scripts/cdt.min.js"></script>
    -->

    <script type="text/javascript" src="app/scripts/app.js"></script>
    <script type="text/javascript" src="app/scripts/constants.js"></script>
    <script type="text/javascript" src="app/scripts/defaults.js"></script>
    <script type="text/javascript" src="app/scripts/routes.js"></script>
    <script type="text/javascript" src="app/scripts/http_interceptors.js"></script>

    <script type="text/javascript" src="app/scripts/filters/CahierTextesFilters.js"></script>

    <script type="text/javascript" src="app/scripts/services/API/CahierDeTextes.js"></script>
    <script type="text/javascript" src="app/scripts/services/API/Annuaire.js"></script>
    <script type="text/javascript" src="app/scripts/services/API/Documents.js"></script>
    <script type="text/javascript" src="app/scripts/services/Redirection.js"></script>

    <script type="text/javascript" src="app/scripts/controllers/IndexCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/HeaderCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/FooterCtrl.js"></script>

    <script type="text/javascript" src="app/scripts/controllers/ImportCtrl.js"></script>

    <script type="text/javascript" src="app/scripts/controllers/PrincipalCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/PrincipalEnseignantsCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/PrincipalClassesCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/StatsEnseignantCtrl.js"></script>

    <script type="text/javascript" src="app/scripts/controllers/EmploiDuTempsPopupDisplayCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/EmploiDuTempsCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/EmploiDuTempsPopupEditionCtrl.js"></script>

    <script type="text/javascript" src="app/scripts/controllers/EleveCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/EleveDevoirsCtrl.js"></script>

    <script type="text/javascript" src="app/scripts/controllers/EnseignantCtrl.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/ListeCahierDeTextesCtrl.js"></script>
    <!-- endbuild -->

  </body>
</html>
