<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="annuler()">&times;</button>

  <h4>
    <span data-ng-hide="creneau_en_creation">
      {{classe.libelle}} - {{matiere.libelle_long}}
    </span>
    <span data-ng-show="creneau_en_creation">
      <select data-ng-model="scope.regroupement_id" data-ng-options="classe.id as classe.libelle for classe in classes">
      </select>
      -
      <select data-ng-model="scope.matiere_id" data-ng-options="id as matiere.libelle_long for (id, matiere) in matieres">
      </select>
    </span>

  </h4>
</div>
<div class="modal-body">
  <iframe src="http://www.dev.laclasse.com/docs-beta/login" style="display:none;"></iframe>
  <ul>
    <li data-ng-repeat="erreur in erreurs">{{erreur.message}}</li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Séquence pédagogique du {{cours.date_cours | date : 'fullDate' }}</h3>
    </div>
    <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="cours.contenu" data-ng-show="cours.$resolved" data-ng-change="is_dirty()">

    </textarea>
    <div class="panel-footer">
      <ul>
	<li data-ng-repeat="ressource in cours.ressources">
	  <a target="_blank" href="http://www.dev.laclasse.com/docs-beta/api/connector?cmd=file&target={{ressource.hash}}">{{ressource.name}}</a>
	  <button style="font-size:1.25em;color:#f00;font-weight:bold" data-ng-click="remove_ressource( cours, ressource.hash )">✕</button>
	</li>
      </ul>

      <input type="file" name="upload[]" multiple onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().cours, this.files)" />

      <div class="treecontrol-container">
	<treecontrol class="light-tree"
		     tree-model="cartable.files"
		     options="treeOptions"
		     on-selection="treeClicked( node )">
	  {{node.name}} ({{node.mime}}) <button style="font-size:1.25em;color:#0a0;font-weight:bold" data-ng-click="add_ressource( cours, node.name, node.hash )">+</button>
	</treecontrol>
      </div>

      <div class="row-fluid" data-ng-show="creneaux_similaires">
	<select multiple
		data-ng-model="devoir.creneau_emploi_du_temps_id"
		data-ng-options="creneau.id as creneau.classe.libelle +' . '+ creneau.start_str +' - '+ creneau.end_str for creneau in creneaux_similaires" >
	</select>

	<button class="btn btn-primary" data-ng-click="dupliquer()">
	  <span class="glyphicon glyphicon-plus-sign"></span> Copier vers d'autres classes
	</button>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <button class="btn btn-primary pull-right" data-ng-click="ajout_devoir()">
      <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un devoir
    </button>
  </div>

  <div class="panel panel-default" data-ng-repeat="devoir in devoirs">
    <div class="panel-heading enseignant-saisie">
      <div class="row">
	<h3 class="panel-title pull-left">Travail à faire</h3>
	<div class="pull-left">
	  <select data-ng-required="true" data-ng-model="devoir.type_devoir_id"
		  data-ng-options="type_de_devoir.id as type_de_devoir.description for type_de_devoir in types_de_devoir">
	    <option value="" disabled selected>Choisissez un type de devoir</option>
	  </select>

	  <select data-ng-required="true" data-ng-model="devoir.creneau_emploi_du_temps_id"
		  data-ng-options="creneau.creneau_emploi_du_temps_id as creneau.start_str +' - '+ creneau.end_str for creneau in creneaux_devoirs_possibles" >
	  </select>

	</div>
      </div>
    </div>
    <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="devoir.contenu" data-ng-change="is_dirty()"></textarea>

    <div class="panel-body">
	<h3 class="panel-title">Temps de travail estimé</h3>
	<rating data-ng-model="devoir.temps_estime" max="15" readonly="false"  ng-click="is_dirty()" on-hover="estimation_over(value)" on-leave="estimation_leave()" state-on="'glyphicon-record'" state-off="'glyphicon-unchecked'"></rating>
	<span class="label" data-ng-class="{'label-success': overValue<4, 'label-info': overValue>=4 && overValue<8 , 'label-warning': overValue>=8 && overValue<12, 'label-danger': overValue>=12}" data-ng-show="overValue>0 || devoir.temps_estime > 0">{{minutes || devoir.temps_estime * 5}} min</span>
    </div>

    <div class="panel-footer">
      <ul>
	<li data-ng-repeat="ressource in devoir.ressources">
	  <a target="_blank" href="http://www.dev.laclasse.com/docs-beta/api/connector?cmd=file&target={{ressource.hash}}">{{ressource.name}}</a>
	  <button style="color:red;font-weight:bold" data-ng-click="remove_ressource( devoir, ressource.hash )">&times;</button>
	</li>
      </ul>

      <input type="file" name="upload[]" multiple onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().devoir, this.files)" />

      <div class="treecontrol-container">
	<treecontrol class="light-tree"
		     tree-model="cartable.files"
		     options="treeOptions"
		     on-selection="treeClicked( node )">
	  {{node.name}} ({{node.mime}}) <button style="font-size:1.25em;color:#0a0;font-weight:bold" data-ng-click="add_ressource( devoir, node.name, node.hash )">+</button>
	</treecontrol>
      </div>

    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" data-ng-click="effacer()" data-ng-hide="cours.create">
    <span class="glyphicon glyphicon-trash"></span> Supprimer le cours
  </button>

  <button class="btn btn-warning pull-left" data-ng-click="effacer_creneau()" data-ng-show="cours.create">
    <span class="glyphicon glyphicon-trash"></span> Supprimer le créneau
  </button>

  <button class="btn btn-info pull-right" data-ng-click="annuler()">
    <span class="glyphicon glyphicon-remove-sign"></span> <span data-ng-show="dirty">Annuler</span><span data-ng-hide="dirty">Fermer</span>
  </button>
  <button class="btn btn-success pull-right" data-ng-click="valider()" data-ng-show="dirty">
    <span class="glyphicon glyphicon-ok-sign"></span> Valider
  </button>
</div>
