<iframe src="http://www.dev.laclasse.com/docs-beta/login" style="display:none;"></iframe>
<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="fermer()">&times;</button>

  <h3>
    <span data-ng-show="cours.cahier_de_textes_id != ''">
      {{classe.libelle_aaf}} - {{matiere.libelle_long}}
    </span>
    <span data-ng-show="cours.cahier_de_textes_id == ''">
      <select data-ng-model="scope.regroupement_id" data-ng-options="classe.id as classe.libelle_aaf for classe in classes">
      </select>
      -
      <select data-ng-model="scope.matiere_id" data-ng-options="id as matiere.libelle_long for (id, matiere) in matieres">
      </select>
    </span>

  </h3>
</div>
<div class="modal-body">
  <ul>
    <li data-ng-repeat="erreur in erreurs">{{erreur.message}}</li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Séquence pédagogique</h3>
    </div>
    <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="cours.contenu" data-ng-show="cours.$resolved" data-ng-change="is_dirty()">

    </textarea>
    <div class="panel-footer">
      <ul>
	<li data-ng-repeat="ressource in cours.ressources">
	  <a target="_blank" href="http://www.dev.laclasse.com/docs-beta/api/connector?cmd=file&target={{ressource.hash}}">{{ressource.name}}</a>
	  <button style="color:red;font-weight:bold" data-ng-click="remove_ressource( cours, ressource.hash )">&times;</button>
	</li>
      </ul>
      <input type="file">
      <treecontrol class="tree-classic"
		   tree-model="cartable.files"
		   options="treeOptions"
		   on-selection="treeClicked( cours, node )">
	{{node.name}} ({{node.mime}})
      </treecontrol>

      <div class="row-fluid" data-ng-show="creneaux_similaires">
	<div class="col-md-8" data-w11k-select
	     data-multiple="true"
	     data-disabled="false"
	     data-required="false"
	     data-ng-model="creneaux_similaires.selected"
	     data-options="creneau as creneau.classe.libelle_aaf +' . '+ creneau.start_str +' - '+ creneau.end_str for creneau in creneaux_similaires"
	     data-placeholder="'Créneaux similaires'"
	     data-filter-placeholder="'Filtre'"
	     data-select-filtered-text="'tous'"
	     data-deselect-filtered-text="'aucun'"
	     >
	</div>

	<button class="btn btn-primary" data-ng-click="dupliquer()">
	  <span class="glyphicon glyphicon-plus-sign"></span> Copier vers d'autres classes
	</button>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <button class="btn btn-primary pull-right" data-ng-click="ajout_devoir()">
      <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un devoir
    </button>
  </div>

  <div class="panel panel-default" data-ng-repeat="devoir in devoirs">
    <div class="panel-heading enseignant-saisie">
      <div class="row">
	<h3 class="panel-title pull-left">Travail à faire</h3>
	<div class="pull-left">
	  <select data-ng-required="true" data-ng-model="devoir.type_devoir_id"
		  data-ng-options="type_de_devoir.id as type_de_devoir.description for type_de_devoir in types_de_devoir">
	    <option value="" disabled selected>Choisissez un type de devoir</option>
	  </select>

	  <select data-ng-model="devoir.creneau_emploi_du_temps_id"
		  data-ng-options="creneau.creneau_emploi_du_temps_id as creneau.start_str +' - '+ creneau.end_str for creneau in creneaux_devoirs_possibles" >
	  </select>
	  <!-- <div data-w11k-select
	  data-multiple="false"
	  data-disabled="false"
	  data-required="true"
	  data-ng-model="devoir.creneau_emploi_du_temps_id"
	  data-options="creneau.creneau_emploi_du_temps_id as creneau.start_str +' - '+ creneau.end_str for creneau in creneaux_devoirs_possibles"
	  data-placeholder="'Créneaux disponibles'"
	  data-filter-placeholder="'Filtre'"
	  data-select-filtered-text="'tous'"
	  data-deselect-filtered-text="'aucun'"
	  >
	  </div> -->
	</div>
      </div>
    </div>
    <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="devoir.contenu" data-ng-change="is_dirty()"></textarea>
    <div class="panel-footer">
      <ul>
	<li data-ng-repeat="ressource in devoir.ressources">
	  <a target="_blank" href="http://www.dev.laclasse.com/docs-beta/api/connector?cmd=file&target={{ressource.hash}}">{{ressource.name}}</a>
	  <button style="color:red;font-weight:bold" data-ng-click="remove_ressource( devoir, ressource.hash )">&times;</button>
	</li>
      </ul>
      <input type="file">
      <treecontrol class="tree-classic"
		   tree-model="cartable.files"
		   options="treeOptions"
		   on-selection="treeClicked( devoir, node )">
	{{node.name}} ({{node.mime}})
      </treecontrol>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-info pull-left" data-ng-click="effacer()">
    <span class="glyphicon glyphicon-trash"></span> Détruire
  </button>

  <button class="btn btn-info pull-right" data-ng-click="annuler()">
    <span class="glyphicon glyphicon-remove-sign"></span> <span data-ng-show="dirty">Annuler</span><span data-ng-hide="dirty">Fermer</span>
  </button>
  <button class="btn btn-success pull-right" data-ng-click="valider()" data-ng-show="dirty">
    <span class="glyphicon glyphicon-ok-sign"></span> Valider
  </button>
</div>
