<iframe data-ng-src="{{DOCS_URL_login}}" style="display:none;"></iframe>
<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="annuler()">&times;</button>

  <h5>
    <span data-ng-hide="creneau_en_creation">
      {{classe.libelle}} - {{matiere.libelle_long}} ({{creneau_selectionne.heure_debut | date: 'shortTime'}} - {{creneau_selectionne.heure_fin | date: 'shortTime'}})
    </span>
    <span data-ng-show="creneau_en_creation">
      <select data-ng-model="scope.regroupement_id" data-ng-options="classe.id as classe.libelle for classe in classes">
      </select>
      -
      <select data-ng-model="scope.matiere_id" data-ng-options="id as matiere.libelle_long for (id, matiere) in matieres">
      </select>

      (<timepicker class="timepicker" data-ng-model="creneau_tmp_heure_debut" data-show-meridian="false" data-minute-step="5"></timepicker>
      -
      <timepicker class="timepicker" data-ng-model="creneau_tmp_heure_fin" data-show-meridian="false" data-minute-step="5"></timepicker>)
    </span>

  </h5>
</div>

<div class="modal-body">
  <ul><li data-ng-repeat="erreur in erreurs">{{erreur.message}}</li></ul>

  <accordion close-others="false">

    <!-- ####################### Semaines Actives ########################### -->
    <accordion-group data-is-open="groups.semaines_actives.ouvert">
      <accordion-heading>
	<span class="glyphicon" ng-class="{'glyphicon-chevron-down': groups.semaines_actives.ouvert, 'glyphicon-chevron-right': !groups.semaines_actives.ouvert}"> Semaines Actives</span>
      </accordion-heading>
      de la classe<br>
      <button class="btn btn-s btn-success" data-ng-click="apply_template( 'semaine_A' )">semaine A</button>
      <button class="btn btn-s btn-success" data-ng-click="apply_template( 'semaine_B' )">semaine B</button>
      <button class="btn btn-s btn-success" data-ng-click="apply_template( 'initialize' )">Réinitialiser</button>
      <br>
      <button type="button" class="btn btn-xs"
	      data-ng-class="{'btn-default': !semaine, 'btn-success': semaine}"
	      data-ng-model="semaines_actives.regroupement[ $index ]"
	      btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
	      data-ng-repeat="semaine in semaines_actives.regroupement track by $index" >
	{{$index + 1}}
      </button>
    </accordion-group>

    <!-- ####################### Séquence Pédagogique ####################### -->
    <accordion-group data-is-open="groups.sequence_pedagogique.ouvert">
      <accordion-heading>
	<span class="glyphicon" ng-class="{'glyphicon-chevron-down': groups.sequence_pedagogique.ouvert, 'glyphicon-chevron-right': !groups.sequence_pedagogique.ouvert}"> Séquence pédagogique du {{cours.date_cours | date : 'fullDate' }}</span>
      </accordion-heading>
      <div class="panel panel-default">
	<div data-ng-show="cours.date_validation === null || ( cours.date_validation === null && cours.enseignant_id === current_user.uid )">
	  <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="cours.contenu" data-ng-change="is_dirty( cours )">
	  </textarea>
	  <div class="panel-footer">

	    <div class="row-fluid">
	      <div class="col-md-7 ressources">
		<div class="alert alert-danger" role="alert" data-ng-hide="cartable.files">Problème de communication avec l'application Documents</div>
		<ul>
		  <li data-ng-repeat="ressource in cours.ressources">
		    <a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
		    <button class="btn btn-sm btn-danger" data-ng-click="remove_ressource( cours, ressource.hash )">✕</button>
		  </li>
		</ul>
		<div class="treecontrol-container">
		  <treecontrol class="tree-classic"
			       tree-model="cartable.files"
			       options="treeOptions"
			       expanded-nodes="cartable.expandedNodes"
			       on-selection="treeClicked( node )">
		    {{node.name}} ({{node.mime}}) <button class="btn btn-sm btn-success" data-ng-click="add_ressource( cours, node.name, node.hash )">+</button>
		  </treecontrol>
		</div>
		<input type="file"
		       name="upload[]"
		       multiple
		       onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().cours, this.files)"
		       data-ng-show="cartable.files" />
	      </div>
	      <div class="col-md-5 duplication-saisie" data-ng-show="creneaux_similaires.length > 0 && cours.id">
		<select multiple
			data-ng-model="creneaux_similaires.selected"
			data-ng-options="creneau as creneau.label_sbox group by creneau.classe.libelle for creneau in creneaux_similaires" >
		</select>
		<button class="btn btn-sm btn-primary" data-ng-click="dupliquer()" data-ng-show="creneaux_similaires.selected">
		  <span data-ng-hide="creneaux_similaires.selected.length > 1">
		    <span class="glyphicon glyphicon-share"></span> Copier vers le cours sélectionné
		  </span>
		  <span data-ng-show="creneaux_similaires.selected.length > 1">
		    <span class="glyphicon glyphicon-share"></span> Copier vers les cours sélectionnés
		  </span>
		</button>
	      </div>
	    </div>
	    <div class="clearfix"></div>
	  </div>
	</div>
	<span data-ng-bind-html="cours.contenu" data-ng-show="cours.date_validation !== null || cours.enseignant_id !== current_user.uid"></span>
      </div>
    </accordion-group>

    <!-- ####################### Devoirs ####################### -->
    <accordion-group data-is-open="groups.devoirs.ouvert">
      <accordion-heading>
	<span class="glyphicon" ng-class="{'glyphicon-chevron-down': groups.devoirs.ouvert, 'glyphicon-chevron-right': !groups.devoirs.ouvert}"> Travail à faire</span>
	<button class="btn btn-sm btn-primary pull-right" data-ng-click="ajout_devoir()">
	  <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un devoir
	</button>
	<div class="clearfix"></div>
      </accordion-heading>
      <div class="panel panel-default" data-ng-repeat="devoir in devoirs">
	<div class="panel-heading enseignant-saisie">
	  <button type="button" class="btn btn-sm btn-danger pull-right"
		  data-ng-click="effacer_devoir( devoir )" >
	    <span class="glyphicon glyphicon-trash"></span> Supprimer ce devoir
	  </button>
	  <div class="row-fluid">
	    <select data-ng-required="true" data-ng-model="devoir.type_devoir_id"
		    data-ng-options="type_de_devoir.id as type_de_devoir.description for type_de_devoir in types_de_devoir">
	    </select>
	    <select data-ng-required="true" data-ng-model="devoir.date_due" data-ng-change="set_creneau_date_due( devoir )"
		    data-ng-options="creneau.date_due as creneau.label_sbox group by creneau.semaine for creneau in creneaux_devoirs_possibles">
	    </select>
	  </div>
	</div>
	<textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="devoir.contenu" data-ng-change="is_dirty( devoir )"></textarea>
	<div class="panel-body">
	  <h3 class="panel-title">Temps de travail estimé</h3>
	  <rating data-ng-model="devoir.temps_estime" max="15" readonly="false"  ng-click="is_dirty( null )" on-hover="estimation_over(devoir, value)" on-leave="estimation_leave(devoir)" state-on="'glyphicon-record'" state-off="'glyphicon-unchecked'"></rating>
	  <span class="label" data-ng-class="{'label-success': devoir.overValue<4, 'label-info': devoir.overValue>=4 && devoir.overValue<8 , 'label-warning': devoir.overValue>=8 && devoir.overValue<12, 'label-danger': devoir.overValue>=12}" data-ng-show="devoir.overValue>0 || devoir.temps_estime > 0">{{devoir.minutes || devoir.temps_estime * 5}} min</span>
	</div>
	<div class="panel-footer">
	  <ul>
	    <li data-ng-repeat="ressource in devoir.ressources">
	      <a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
	      <button class="btn btn-sm btn-danger" data-ng-click="remove_ressource( devoir, ressource.hash )">&times;</button>
	    </li>
	  </ul>
	  <span class="alert alert-danger" role="alert" data-ng-hide="cartable.files">Problème de communication avec l'application Documents</span>
	  <input type="file" name="upload[]" multiple onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().devoir, this.files )"
		 data-ng-show="cartable.files" />
	  <div class="treecontrol-container">
	    <treecontrol class="tree-classic"
			 tree-model="cartable.files"
			 options="treeOptions"
			 on-selection="treeClicked( node )">
	      {{node.name}} ({{node.mime}}) <button  class="btn btn-sm btn-success" data-ng-click="add_ressource( devoir, node.name, node.hash )">+</button>
	    </treecontrol>
	  </div>
	  <div class="clearfix"></div>
	</div>
      </div>
    </accordion-group>

  </accordion>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-default pull-left" data-ng-click="effacer_cours()" data-ng-hide="cours.date_validation !== null || creneau_selectionne.details.enseignant_id !== current_user.uid || cours.create">
    <span class="glyphicon glyphicon-trash"></span> Supprimer le cours
  </button>

  <button type="button" class="btn btn-sm btn-warning pull-left" data-ng-click="effacer_creneau()" data-ng-show="cours.create">
    <span class="glyphicon glyphicon-trash"></span> Supprimer le créneau
  </button>

  <button type="button" class="btn btn-sm btn-info pull-right" data-ng-click="annuler()">
    <span class="glyphicon glyphicon-remove-sign"></span> <span data-ng-show="dirty || creneau_en_creation">Annuler</span><span data-ng-hide="dirty || creneau_en_creation">Fermer</span>
  </button>
  <button type="button" class="btn btn-sm btn-success pull-right" data-ng-click="valider()" data-ng-show="dirty || creneau_en_creation">
    <span class="glyphicon glyphicon-ok-sign"></span> Valider
  </button>
</div>
