<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="annuler()"><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/bower_components/charte-graphique-laclasse-com/images/picto_cross.svg)'}"></i></button>

  <h3>{{creneau.heure_debut | date : 'fullDate' }}</h3>
  <!-- {{{ Lecture seule -->
  <h3>
    <span data-ng-if="!creneau.en_creation || !creneau.vierge">
      {{classe.libelle}} - {{matiere.libelle_long}} ({{creneau.heure_debut | date: 'shortTime'}} - {{creneau.heure_fin | date: 'shortTime'}})
    </span>
  </h3>
  <!-- }}} -->

  <!-- {{{ Édition -->
  <div class="edition-creneau" data-ng-if="creneau.en_creation">
    <div class="row" data-ng-if="creneau.vierge">
      <div class="col-md-6">
	<label>Choisir la classe :</label>
	<select data-ng-model="scope.classe"
		data-ng-options="classe as classe.libelle for classe in classes track by classe.id"
		data-ng-required="true">
	</select>
      </div>

      <div class="col-md-6">
	<label>Choisir la matière :</label>
	<select data-ng-model="scope.matiere"
		data-ng-options="matiere as matiere.libelle_long for matiere in matieres track by matiere.id"
		data-ng-required="true">
	</select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
	<label>Choisir l'horaire :</label>
	de
	<div class="dropdown horaire">
	  <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="">{{creneau.tmp_heure_debut | date: 'shortTime'}}</a>
	  <ul class="dropdown-menu" role="menu">
	    <timepicker class="timepicker"
			data-ng-model="creneau.tmp_heure_debut"
			data-show-meridian="false"
			data-minute-step="5"
			data-ng-required="true"></timepicker>
	  </ul>
	</div>
	à
	<div class="dropdown horaire">
	  <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="">{{creneau.tmp_heure_fin | date: 'shortTime'}}</a>
	  <ul class="dropdown-menu" role="menu">
	    <timepicker class="timepicker"
			data-ng-model="creneau.tmp_heure_fin"
			data-show-meridian="false"
			data-minute-step="5"
			data-ng-required="true"></timepicker>
	  </ul>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
	<label>Choisir les semaines actives :</label>
	<div class="btn-group">
	  <button class="btn btn-sm btn-warning" data-ng-click="apply_template( 'semaine_A' )">semaine A</button>
	  <button class="btn btn-sm btn-warning" data-ng-click="apply_template( 'semaine_B' )">semaine B</button>
	  <button class="btn btn-sm btn-warning" data-ng-click="apply_template( 'initialize' )">Réinitialiser</button>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-xs"
		  data-ng-class="{'btn-default': !semaine, 'btn-warning': semaine}"
		  data-ng-model="semaines_actives.regroupement[ $index ]"
		  btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
		  data-ng-repeat="semaine in semaines_actives.regroupement track by $index" >
	    {{$index + 1}}
	  </button>
	</div>
      </div>
    </div>
  </div>
  <!-- }}} -->

  <div class="error-messages">
    <ul><li data-ng-repeat="erreur in erreurs">{{erreur.message}}</li></ul>
  </div>
</div>

<div class="modal-body" data-ng-if="!creneau.en_creation && !mode_duplication">
  <tabset>

    <!-- ####################### Séquence Pédagogique du jour ####################### -->
    <tab heading="Séquence pédagogique du jour" >
      <div class="row">
	<div class="col-md-9 contenu">
	  <div class="panel panel-default">

	    <div data-text-angular
		 class="panel-body"
		 data-ng-model="cours.contenu"
		 data-ng-change="is_dirty( cours )"
		 data-ng-if="cours.editable" ></div>
	    <div class="panel-body"
		 data-ng-bind-html="cours.contenu"
		 data-ng-if="!cours.editable" >
	    </div>
	    <div class="panel-footer ressources">
	      <div class="row">
		<div class="attached-document" data-ng-repeat="ressource in cours.ressources">
		  <a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
		  <button class="btn btn-sm btn-danger" data-ng-click="remove_ressource( cours, ressource.hash )">✕</button>
		</div>
	      </div>

	      <div class="dropdown row" data-ng-if="!creneau.etranger">
		<button class="btn btn-sm btn-primary dropdown-toggle pull-right" role="button" data-toggle="dropdown" data-target="#" href="">
		  <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une ressource
		</button>
		<ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
		  <div class="alert alert-danger" role="alert" data-ng-if="faulty_docs_app">Problème de communication avec l'application Documents</div>
		  <div class="treecontrol-container"
		       data-ng-if="!faulty_docs_app">
		    <treecontrol class="tree-classic"
				 tree-model="cartable.files"
				 options="treeOptions"
				 expanded-nodes="cartable.expandedNodes"
				 on-selection="treeClicked( node )"
				 data-ng-class="{'even': $even, 'odd': $odd}">
		      {{node.name}} ({{node.mime}}) <button class="btn btn-sm btn-success" data-ng-click="add_ressource( cours, node.name, node.hash )">+</button>
		    </treecontrol>
		  </div>

		  <input type="file"
			 class="upload"
			 name="upload[]"
			 multiple
			 onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().cours, this.files)"
			 data-ng-if="!faulty_docs_app" />
		</ul>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-md-3 infos">
	  <ul class="pull-left">
	    <li class="clickable" data-ng-repeat="devoir in cours.devoirs"
		tooltip-trigger="click"
		tooltip-html-unsafe="{{devoir.tooltip}}"
		data-ng-class="{ 'type1': devoir.type_devoir_id == 1, 'type2': devoir.type_devoir_id == 2, 'type3': devoir.type_devoir_id == 3, 'type4': devoir.type_devoir_id == 4, 'type5': devoir.type_devoir_id == 5, 'type6': devoir.type_devoir_id == 6, 'fait': devoir.fait }" >
	      <span><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/bower_components/charte-graphique-laclasse-com/images/picto_devoir.svg)'}"></i> Devoir associé : <em>{{devoir.date_due | date : 'dd/MM'}}</em></span>
	    </li>
	  </ul>
	</div>
	<div class="col-md-12" data-ng-if="cours.id">
	  <button type="button" class="btn btn-sm btn-danger pull-right supprimer"
		  data-ng-click="effacer_cours(  )"
		  data-ng-if="!creneau.etranger && cours.editable" >
	    <span class="glyphicon glyphicon-trash"></span> Supprimer la séquence pédagogique
	  </button>
	</div>
      </div>

      <div class="panel panel-default">
	<div class="panel-heading">
	  Travail à faire suite à cette séquence pédagogique
	</div>
	<div class="panel-body">
	  <button class="btn btn-default ajout-devoir" data-ng-if="!creneau.etranger" data-ng-click="ajout_devoir( cours.devoirs, creneaux_devoirs_possibles[ 1 ] )">
	    <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un devoir
	  </button>
	  <div class="panel panel-default" data-ng-repeat="devoir in cours.devoirs">

	    <div class="col-md-9">
	      <div class="panel-heading enseignant-saisie" data-ng-if="!creneau.etranger">
		<label class="col-md-6">Type de travail :
		  <select data-ng-required="true"
			  data-ng-change="is_dirty( null )"
			  data-ng-model="devoir.type_devoir_id"
			  data-ng-options="type_de_devoir.id as type_de_devoir.description for type_de_devoir in types_de_devoir">
		  </select>
		</label>
		<label class="col-md-6">Date de rendu :
		  <select data-ng-required="true"
			  data-ng-model="devoir.date_due"
			  data-ng-change="set_creneau_date_due( devoir )"
			  data-ng-options="creneau.date_due as ( creneau | formateCreneau ) group by creneau.semaine for creneau in creneaux_devoirs_possibles">
		  </select>
		</label>

		<div class="col-md-12">
		  <label>Temps de travail estimé : </label>
		  <rating data-ng-model="devoir.temps_estime"
			  max="15"
			  readonly="false"
			  ng-click="is_dirty( null )"
			  on-hover="estimation_over(devoir, value)"
			  on-leave="estimation_leave(devoir)"
			  state-on="'temps-est-on'"
			  state-off="'temps-est-off'"></rating>
		  <span class="label pull-right" data-ng-class="{'label-success': devoir.overValue<4, 'label-info': devoir.overValue>=4 && devoir.overValue<8 , 'label-warning': devoir.overValue>=8 && devoir.overValue<12, 'label-danger': devoir.overValue>=12}" data-ng-if="devoir.overValue > 0 || devoir.temps_estime > 0">{{devoir.minutes || devoir.temps_estime * 5}} min</span>
		</div>
		<div class="clearfix"></div>
	      </div>
	      <text-angular class="panel-body" data-ng-model="devoir.contenu" data-ng-change="is_dirty( devoir )" data-ng-if="!creneau.etranger"></text-angular>


	      <div class="panel-heading enseignant-saisie" data-ng-if="creneau.etranger">
		<label>Type de travail : <em>{{devoir.type_devoir.description}}</em></label>
		<label data-ng-if="devoir.temps_estime">Temps de travail estimé : <em>{{devoir.temps_estime * 5}} min</em></label>
	      </div>
	      <div class="panel-body" data-ng-bind-html="devoir.contenu" data-ng-if="creneau.etranger"></div>

	      <div class="panel-footer ressources">
		<div class="row">
		  <div class="attached-document" data-ng-repeat="ressource in devoir.ressources">
		    <a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
		    <button class="btn btn-sm btn-danger" data-ng-click="remove_ressource( devoir, ressource.hash )">✕</button>
		  </div>
		</div>

		<div class="dropdown row" data-ng-if="!creneau.etranger">
		  <button class="btn btn-sm btn-primary dropdown-toggle pull-right" role="button" data-toggle="dropdown" data-target="#" href="">
		    <span class="glyphicon glyphicon-plus-sign"></span> Ajouter une ressource
		  </button>
		  <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
		    <div class="alert alert-danger" role="alert" data-ng-if="faulty_docs_app">Problème de communication avec l'application Documents</div>
		    <div class="treecontrol-container"
			 data-ng-if="!faulty_docs_app">
		      <treecontrol class="tree-classic"
				   tree-model="cartable.files"
				   options="treeOptions"
				   expanded-nodes="cartable.expandedNodes"
				   on-selection="treeClicked( node )"
				   data-ng-class="{'even': $even, 'odd': $odd}">
			{{node.name}} ({{node.mime}}) <button class="btn btn-sm btn-success" data-ng-click="add_ressource( devoir, node.name, node.hash )">+</button>
		      </treecontrol>
		    </div>

		    <input type="file"
			   class="upload"
			   name="upload[]"
			   multiple
			   onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().devoir, this.files)"
			   data-ng-if="!faulty_docs_app" />
		  </ul>
		</div>
	      </div>

	    </div>

	    <div class="col-md-12">
	      <button type="button" class="btn btn-sm btn-danger pull-right supprimer"
		      data-ng-click="effacer_devoir_cours( devoir )"
		      data-ng-if="!creneau.etranger">
		<span class="glyphicon glyphicon-trash"></span> Supprimer le devoir
	      </button>
	    </div>

	    <div class="clearfix"></div>
	  </div>
	</div>
      </div>

    </tab>

    <!-- ####################### Devoirs dûs ce jour ####################### -->
    <tab heading="Travail à faire pour ce jour">
      <button class="btn btn-default ajout-devoir" data-ng-click="ajout_devoir( devoirs, creneau )" data-ng-if="!creneau.etranger">
	<span class="glyphicon glyphicon-plus-sign"></span> Ajouter un devoir
      </button>
      <div class="clearfix"></div>

      <div class="panel panel-default" data-ng-repeat="devoir in devoirs">

	<div class="col-md-9">

	  <div class="panel-heading enseignant-saisie" data-ng-if="!creneau.etranger">
	    <label class="col-md-12">Type de travail :
	      <select data-ng-required="true"
		      data-ng-change="is_dirty( null )"
		      data-ng-model="devoir.type_devoir_id"
		      data-ng-options="type_de_devoir.id as type_de_devoir.description for type_de_devoir in types_de_devoir">
	      </select>
	    </label>

	    <div class="col-md-12">
	      <label>Temps de travail estimé : </label>
	      <rating data-ng-model="devoir.temps_estime"
		      max="15"
		      readonly="false"
		      ng-click="is_dirty( null )"
		      on-hover="estimation_over(devoir, value)"
		      on-leave="estimation_leave(devoir)"
		      state-on="'temps-est-on'"
		      state-off="'temps-est-off'"></rating>
	      <span class="label pull-right" data-ng-class="{'label-success': devoir.overValue<4, 'label-info': devoir.overValue>=4 && devoir.overValue<8 , 'label-warning': devoir.overValue>=8 && devoir.overValue<12, 'label-danger': devoir.overValue>=12}" data-ng-if="devoir.overValue > 0 || devoir.temps_estime > 0">{{devoir.minutes || devoir.temps_estime * 5}} min</span>
	    </div>
	    <div class="clearfix"></div>
	  </div>
	  <text-angular class="panel-body" data-ng-model="devoir.contenu" data-ng-change="is_dirty( devoir )" data-ng-if="!creneau.etranger"></text-angular>

	  <div class="panel-heading enseignant-saisie" data-ng-if="creneau.etranger">
	    <label>Type de travail : <em>{{devoir.type_devoir.description}}</em></label>
	    <label data-ng-if="devoir.temps_estime">Temps de travail estimé : <em>{{devoir.temps_estime * 5}} min</em></label>
	  </div>
	  <div class="panel-body" data-ng-bind-html="devoir.contenu" data-ng-if="creneau.etranger"></div>

	  <div class="panel-footer ressources">
	    <div class="row">
	      <div class="attached-document" data-ng-repeat="ressource in devoir.ressources">
		<a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
		<button class="btn btn-sm btn-danger" data-ng-click="remove_ressource( devoir, ressource.hash )">✕</button>
	      </div>
	    </div>

	    <div class="dropdown row" data-ng-if="!creneau.etranger">
	      <button class="btn btn-sm btn-primary dropdown-toggle pull-right" role="button" data-toggle="dropdown" data-target="#" href="">
		<span class="glyphicon glyphicon-plus-sign"></span> Ajouter une ressource
	      </button>
	      <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
		<div class="alert alert-danger" role="alert" data-ng-if="faulty_docs_app">Problème de communication avec l'application Documents</div>
		<div class="treecontrol-container"
		     data-ng-if="!faulty_docs_app">
		  <treecontrol class="tree-classic"
			       tree-model="cartable.files"
			       options="treeOptions"
			       expanded-nodes="cartable.expandedNodes"
			       on-selection="treeClicked( node )"
			       data-ng-class="{'even': $even, 'odd': $odd}">
		    {{node.name}} ({{node.mime}}) <button class="btn btn-sm btn-success" data-ng-click="add_ressource( devoir, node.name, node.hash )">+</button>
		  </treecontrol>
		</div>

		<input type="file"
		       class="upload"
		       name="upload[]"
		       multiple
		       onchange="angular.element(this).scope().upload_and_add_ressource( angular.element(this).scope().devoir, this.files)"
		       data-ng-if="!faulty_docs_app" />
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="col-md-3 infos">
	  <ul class="pull-left">
	    <li class="clickable">
	      <span data-ng-if="devoir.cours.contenu"
		    data-tooltip-trigger="click"
		    data-tooltip-html-unsafe="{{devoir.cours.contenu}}">
		<span class="glyphicon glyphicon-briefcase"></span> Séquence Pédagogique
	      </span>
	    </li>
	  </ul>
	</div>
	<div class="col-md-12">
	  <button type="button" class="btn btn-sm btn-danger pull-right supprimer"
		  data-ng-click="effacer_devoir_devoirs( devoir )" data-ng-if="!creneau.etranger">
	    <span class="glyphicon glyphicon-trash"></span> Supprimer le devoir
	  </button>
	</div>

	<div class="clearfix"></div>
      </div>
    </tab>

  </tabset>
</div>

<div class="modal-body" data-ng-if="mode_duplication">
  <div class="duplication-saisie" data-ng-if="creneaux_similaires.length > 0" >
    <select multiple data-ng-change="is_dirty( null )"
	    data-ng-model="creneaux_similaires.selected"
	    data-ng-options="creneau as ( creneau | formateCreneau ) group by creneau.classe.libelle for creneau in creneaux_similaires | orderBy:['+classe.libelle', '+date_due']" >
    </select>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-warning pull-left" data-ng-click="effacer_creneau()" data-ng-if="!creneau.etranger && creneau.en_creation && cours.create">
    <span class="glyphicon glyphicon-trash"></span> Supprimer le créneau
  </button>
  <button type="button" class="btn btn-sm btn-default pull-left"
	  data-ng-click="switch_to_creneau_edition()"
	  data-ng-if="!creneau.etranger && !creneau.en_creation" >
    <span class="glyphicon glyphicon-edit"> Modifier le créneau</span>
  </button>

  <button type="button" class="btn btn-sm btn-default"
	  data-ng-click="switch_to_duplication_mode()"
	  data-ng-if="!creneau.etranger && cours.contenu && !creneau.en_creation && !mode_duplication && creneaux_similaires.length > 0" >
    <span class="glyphicon glyphicon-transfer"> Copier à d'autres créneaux</span>
  </button>

  <button type="button" class="btn btn-sm btn-success pull-right" data-ng-click="valider()" data-ng-if="!creneau.etranger && dirty || creneau.en_creation">
    <span class="glyphicon glyphicon-ok-sign"></span> Valider
  </button>
  <button type="button" class="btn btn-sm btn-default pull-right" data-ng-click="annuler()">
    <span class="glyphicon glyphicon-remove-sign"></span> <span data-ng-if="dirty || creneau.en_creation">Annuler</span>
    <span data-ng-if="!dirty && !creneau.en_creation">Fermer</span>
  </button>
</div>

<iframe data-ng-src="{{DOCS_URL_login}}" style="display:none;"></iframe>
