  <div class="panel panel-default">
    <div class="panel-heading">
      <select data-ng-model="classe" data-ng-change="refresh_calendar()" data-ng-options="classe.id as classe.libelle for classe in classes">
	<option value="" selected>Toutes les classes</option>
      </select>
      <label><input type="checkbox" data-ng-model="uniquement_mes_creneaux" data-ng-change="refresh_calendar()" > ne montrer que ce qui me concerne directement</label>
    </div>
    <div class="panel-body">
      <div data-calendar="emploi_du_temps" data-ui-calendar="calendar.options" class="calendar" data-ng-model="calendar.events"></div>
      <div class="col-md-12">
	<div class="pull-right">
	  <span class="label edt-cours" title="Cours">Cours</span>
	  <!-- <span class="label edt-permanence" title="Permanence">Permanence</span> -->
	  <span class="label edt-devoir-a-faire" title="Devoir à faire">devoir à faire</span>
	  <span class="label edt-devoir-note-maison" title="Devoir noté à faire à la maison">DM - devoir maison noté</span>
	  <span class="label edt-devoir-note-surveille" title="Devoir noté surveillé">DS - devoir surveillé noté</span>
	</div>
      </div>
    </div>
  </div>
