<div class="message" data-ng-if="empty">
    <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div class="panel panel-default" data-ng-if="!empty">
    <div class="panel-body">

        <ui-select multiple class="pull-left" theme="bootstrap" style="width: 1045px;"
                   data-ng-change="process_data()"
                   data-ng-model="scope.selected_regroupements">
            <ui-select-match placeholder="Regroupement(s)...">{{$item.libelle}}</ui-select-match>
            <ui-select-choices repeat="classe in classes | orderBy:['type','libelle']"
                               group-by="'type'">
                {{classe.libelle}}
            </ui-select-choices>
        </ui-select>
        <button class="btn btn-sm btn-primary"
                data-ng-click="select_all_regroupements()"><span class="glyphicon glyphicon-certificate"></span></button>
        <button class="btn btn-sm btn-default"
                data-ng-click="select_no_regroupements()"><span class="glyphicon glyphicon-erase"></span></button>

        <select class="col-md-3" data-ng-model="scope.selected_mois" data-ng-change="process_data()" data-ng-options="annee.indexOf(m)+1 as m for m in annee">
            <option value="">Toute l'année</option>
        </select>

        <select class="col-md-3" data-ng-model="scope.selected_matiere" data-ng-change="process_data()" data-ng-options="m.id as m.libelle_long for m in matieres">
            <option value="">Toute les matières</option>
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body row">
        <nvd3 class="col-md-4" data="pieChart.data" options="pieChart.options"></nvd3>
        <nvd3 class="col-md-8" data="multiBarChart.data" options="multiBarChart.options"></nvd3>
    </div>
</div>

<div class="col-md-12" data-ng-if="!classe">
    <div class="col-md-3"
         data-ng-repeat="classe in individualCharts.classes | orderBy:'regroupement.libelle'">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{classe.regroupement.libelle}}</h3></div>
            <div class="panel-body">
                <nvd3 data="classe.pieChart.data" options="classe.pieChart.options"></nvd3>
            </div>
        </div>
    </div>
</div>
