<div class="panel panel-default"
     ng:swipe-left="decr_offset()"
     ng:swipe-right="incr_offset()">
    <div class="panel-heading">
        <div class="row col-md-12">
            <h2>
                Du {{from_date | amDateFormat:'Do MMMM YYYY'}} au {{to_date | amDateFormat:'Do MMMM YYYY'}}
            </h2>
        </div>

        <div class="row col-md-12">
            <select class="pull-left"
                    ng:options="matiere as matiere.libelle_long for (id,matiere) in matieres"
                    ng:model="matiere_selected"
                    ng:change="filter_data( matiere_selected )">
                <option value="" selected>Toutes les matières</option>
            </select>

            <select class="pull-left"
                    ng:model="period_offset"
                    ng:options="period.offset as period.label for period in period_offsets_list">
            </select>
            <button class="btn btn-default" ng:click="incr_offset()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
            <button class="btn btn-default" ng:click="decr_offset()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

            <div class="pull-right options">
                <label><checkbox ng:model="affiche_faits"></checkbox> Afficher les devoirs déjà faits</label>
                <label><checkbox ng:model="tri_ascendant"></checkbox> Tri ascendant</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<ul class="list-group todo-list" ng:if="devoirs">
    <li ng:repeat="devoir in devoirs | orderBy:'date_due':tri_ascendant"
        ng:if="devoir.date_fait == null || affiche_faits"
        style="list-style:none"
        class="devoir list-group-item" >

        <div class="row alert alert-default title">
            <div class="pull-left date">{{devoir.date_due | amDateFormat: 'dddd D MMMM'}}</div>
        </div>

        <div class="row contenu">
            <display-devoir class="col-md-5 alert alert-default"
                            devoir="devoir"></display-devoir>

            <div class="col-md-4 alert alert-default">
                <h5>Séquence pédagogique du {{devoir.cours.date_cours | amDateFormat:'dddd D MMMM'}}</h5>
                <div class="alert alert-default" ng:bind-html="devoir.cours.contenu"></div>
            </div>

            <div class="col-md-1 detail">
                <button class="btn btn-default" ng:click="popup_display( devoir )">Détail</button>
            </div>

            <div class="col-md-2 todo">
                <switch-devoir devoir="devoir"
                               ng:if="current_user.profil_actif.profil_id === 'ELV'" ></switch-devoir>
            </div>
        </div>

        <div class="clearfix"></div>
        </li>
</ul>
<span class="no-data" ng:if="!devoirs">
    Aucun devoir trouvé pour cette période.
</span>
