<div class="navbar span12">
  <div class="navbar-inner">
    <a class="brand" href="#/eleve">Élève</a>
    <ul class="nav">
      <li data-ng-class="{active:tab=='cours'}">
        <a href="#/eleve/cours" data-ng-click="tab='cours'">Cours</a>
      </li>
      <li data-ng-class="{active:tab=='devoirs'}">
        <a href="#/eleve/devoirs" data-ng-click="tab='devoirs'">Devoirs</a>
      </li>
    </ul>
  </div>
</div>

<div data-ng-controller="EleveCalendarCtrl">
  <div data-ui-calendar="uiConfig.calendar" class="span12 calendar" ng-model="eventSources"></div>
</div>
