<!-- See more at: http://cssload.net/#sthash.l1QOwdDd.dpuf -->
<div id="bowlG" data-ng-show="loading">
  <div id="bowl_ringG">
    <div class="ball_holderG">
      <div class="ballG">
      </div>
    </div>
  </div>
</div>

<div data-ng-hide="loading">

  <div class="panel panel-default">
    <div class="panel-body">
      <select class="col-md-3" data-ui-select2 data-ng-model="classe" data-placeholder="Toute les classes" data-ng-change="process_data()" data-ng-options="class as class for (id, class) in classes">
	<option value="-1" selected>Toute les classes</option>
      </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div data-calendar="emploi_du_temps" data-ui-calendar="calendar.options" class="col-md-12 calendar" data-ng-model="calendar.events"></div>
    </div>
  </div>

</div>
