<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="ui-select-wrapper">
                <ui-select multiple class="pull-left" theme="bootstrap"
                           append-to-body="true"
                           ng:change="filter_data()"
                           ng:model="scope.selected_regroupements">
                    <ui-select-match placeholder="Regroupement(s)...">
                        <span class="label" ng:class="{'label-success': $item.type === 'GRP', 'label-info': $item.type === 'CLS', 'label-warning': $item.type === 'GPL' }">
                            {{$item.name}}
                        </span>
                    </ui-select-match>
                    <ui-select-choices repeat="regroupement in regroupements | orderBy:['type','name']"
                                       group-by="'type'">
                        <span class="label" ng:class="{'label-success': regroupement.type === 'GRP', 'label-info': regroupement.type === 'CLS', 'label-warning': regroupement.type === 'GPL' }">
                            {{regroupement.name}}
                        </span>
                    </ui-select-choices>
                </ui-select>
                <button class="btn btn-xs btn-primary"
                        ng:click="select_all_regroupements()"><span class="glyphicon glyphicon-certificate"></span></button>
                <button class="btn btn-xs btn-default"
                        ng:click="select_no_regroupements()"><span class="glyphicon glyphicon-erase"></span></button>
            </div>
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 bloc-enseignant"
     ng:repeat="chart in individualCharts.enseignants | orderBy:'enseignant.details.lastname'"
     ng:if="chart.display">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <a data-ui-sref="principal.enseignant({ enseignant_id: chart.enseignant.details.id })">
                    {{chart.enseignant.details.firstname}} {{chart.enseignant.details.lastname}}
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <span ng:if="chart.pieChart.data[0].value + chart.pieChart.data[1].value == 0">
                Aucune saisie à ce jour.
            </span>
            <nvd3 data="chart.pieChart.data" options="chart.pieChart.options"
                  ng:if="chart.pieChart.data[0].value + chart.pieChart.data[1].value > 0">
            </nvd3>
        </div>
    </div>
</div>
