<div class="panel panel-default">
        <div class="panel-heading">

            <input type="file" file-model="scope.fichier" />

                <button class="btn pull-right"
                        data-ng-class="{'disabled btn-default': !fichier || in_progress, 'btn-primary': fichier}"
                        data-ng-click="launch_import( fichier )" >
                        <span data-ng-if="!result.rapport"><span class="glyphicon glyphicon-log-in"></span> Importer</span>
                        <span data-ng-if="result.rapport"><span class="glyphicon glyphicon-log-in"></span> Ré-Importer</span>
                </button>
                <div class="clearfix"></div>
        </div>
</div>

<div class="panel panel-default rapport" data-ng-if="result.rapport">
        <div class="panel-body">
                <label><em>{{result.rapport.plages_horaires.success.length}}</em> Plages Horaires créées</label>
                <span class="label label-info" data-ng-repeat="plage_horaire in result.rapport.plages_horaires.success">{{plage_horaire.debut | amDateFormat: 'HH:mm'}} - {{plage_horaire.fin | amDateFormat: 'HH:mm'}}</span>
        </div>

        <div class="panel-body">
                <label><em>{{result.rapport.salles.success.length}}</em> Salles créées</label>
                <span class="label label-info" data-ng-repeat="salle in result.rapport.salles.success">{{salle.nom}}</span>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.matieres.success.length > 0 || result.rapport.matieres.error.length > 0">
                <label><em>{{result.rapport.matieres.success.length}}</em> Matières identifiées</label>
                <span class="label label-info" data-ng-repeat="matiere in result.rapport.matieres.success">{{matiere.libelle}}</span>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.matieres.error.length > 0">
                <label><em>{{result.rapport.matieres.error.length}}</em> Matières inconnues</label>
                <div class="col-md-12">
                        <table class="table table-striped">
                                <thead>
                                        <tr>
                                                <th width="37.5%">Matière Pronote</th>
                                                <th width="37.5%">Matière Officielle</th>
                                                <th width="15%">
                                                        <button class="btn btn-primary" data-ng-click="identifie_massivement_objets( result.rapport.matieres.error )">
                                                                <span class="glyphicon glyphicon-link"></span>
                                                        </button>
                                                </th>
                                                <th width="15%"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr data-ng-repeat="matiere in result.rapport.matieres.error track by $index">
                                                <td>{{matiere.objet.Libelle}}</td>
                                                <td>
                                                        <select data-ng-options="m.id as m.libelle_long for m in matieres | orderBy:'libelle_long'"
                                                                data-ng-model="matiere.id_annuaire"></select>
                                                </td>
                                                <td>
                                                        <button class="btn"
                                                                data-ng-class="{'disabled btn-default': !matiere.id_annuaire, 'btn-primary': matiere.id_annuaire}"
                                                                data-ng-click="identifie_objet( matiere )">
                                                                <span class="glyphicon glyphicon-link"></span>
                                                        </button>
                                                </td>
                                                <td><span class="glyphicon glyphicon-ok" data-ng-if="matiere.identified"></span></td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.enseignants.success.length > 0 || result.rapport.enseignants.error.length > 0">
                <label><em>{{result.rapport.enseignants.success.length}}</em> Enseignants pris en compte</label>
                <span class="label label-info" data-ng-repeat="enseignant in result.rapport.enseignants.success">{{enseignant.prenom}} {{enseignant.nom}}</span>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.enseignants.error.length > 0">
                <label><em>{{result.rapport.enseignants.error.length}}</em> Enseignants non prises en compte</label>
                <table class="table table-striped">
                        <thead>
                                <tr>
                                        <th width="37.5%">Enseignant Pronote</th>
                                        <th width="37.5%">Enseignant Annuaire</th>
                                        <th width="15%">
                                                <button class="btn btn-primary" data-ng-click="identifie_massivement_objets( result.rapport.enseignants.error )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </th>
                                        <th width="15%"></th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr data-ng-repeat="enseignant in result.rapport.enseignants.error track by $index">
                                        <td>{{enseignant.objet.Nom}} {{enseignant.objet.Prenom}}</td>
                                        <td>
                                                <select data-ng-options="e.id_ent as e.nom+' '+e.prenom for e in enseignants | orderBy:'nom'"
                                                        data-ng-model="enseignant.id_annuaire"></select>
                                        </td>
                                        <td>
                                                <button class="btn"
                                                        data-ng-class="{'disabled btn-default': !enseignant.id_annuaire, 'btn-primary': enseignant.id_annuaire}"
                                                        data-ng-click="identifie_objet( enseignant )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </td>
                                        <td><span class="glyphicon glyphicon-ok" data-ng-if="enseignant.identified"></span></td>
                                </tr>
                        </tbody>
                </table>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.regroupements.Classe.success.length > 0 || result.rapport.regroupements.Classe.error.length > 0">
                <label><em>{{result.rapport.regroupements.Classe.success.length}}</em> Classes prises en compte</label>
                <span class="label label-info" data-ng-repeat="classe in result.rapport.regroupements.Classe.success">{{classe.nom}}</span>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.regroupements.Classe.error.length > 0">
                <label><em>{{result.rapport.regroupements.Classe.error.length}}</em> Classes non prises en compte</label>
                <table class="table table-striped">
                        <thead>
                                <tr>
                                        <th width="37.5%">Classe Pronote</th>
                                        <th width="37.5%">Classe Annuaire</th>
                                        <th width="15%">
                                                <button class="btn btn-primary" data-ng-click="identifie_massivement_objets( result.rapport.regroupements.Classe.error )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </th>
                                        <th width="15%"></th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr data-ng-repeat="regroupement in result.rapport.regroupements.Classe.error track by $index">
                                        <td>{{regroupement.objet.Nom}}</td>
                                        <td>
                                                <select data-ng-options="r.id as r.libelle for r in regroupements.classes | orderBy:'libelle'"
                                                        data-ng-model="regroupement.id_annuaire"></select>
                                        </td>
                                        <td>
                                                <button class="btn"
                                                        data-ng-class="{'disabled btn-default': !regroupement.id_annuaire, 'btn-primary': regroupement.id_annuaire}"
                                                        data-ng-click="identifie_objet( regroupement )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </td>
                                        <td><span class="glyphicon glyphicon-ok" data-ng-if="regroupement.identified"></span></td>
                                </tr>
                        </tbody>
                </table>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.regroupements.PartieDeClasse.success.length > 0 || result.rapport.regroupements.PartieDeClasse.error.length > 0">
                <label><em>{{result.rapport.regroupements.PartieDeClasse.success.length}}</em> Parties de Classes prises en compte</label>
                <span class="label label-info" data-ng-repeat="partie_de_classe in result.rapport.regroupements.PartieDeClasse.success">{{partie_de_classe.nom}}</span>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.regroupements.PartieDeClasse.error.length > 0">
                <label><em>{{result.rapport.regroupements.PartieDeClasse.error.length}}</em> Parties de Classes non prises en compte</label>
                <table class="table table-striped">
                        <thead>
                                <tr>
                                        <th width="37.5%">Partie de classe Pronote</th>
                                        <th width="37.5%">Classe Annuaire</th>
                                        <th width="15%">
                                                <button class="btn btn-primary" data-ng-click="identifie_massivement_objets( result.rapport.regroupements.PartieDeClasse.error )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </th>
                                        <th width="15%"></th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr data-ng-repeat="regroupement in result.rapport.regroupements.PartieDeClasse.error track by $index">
                                        <td>{{regroupement.objet.Nom}}</td>
                                        <td>
                                                <select data-ng-options="r.id as r.libelle for r in regroupements.classes | orderBy:'libelle'"
                                                        data-ng-model="regroupement.id_annuaire"></select>
                                                </td>
                                                <td>
                                                        <button class="btn"
                                                                data-ng-class="{'disabled btn-default': !regroupement.id_annuaire, 'btn-primary': regroupement.id_annuaire}"
                                                                data-ng-click="identifie_objet( regroupement )">
                                                                <span class="glyphicon glyphicon-link"></span>
                                                        </button>
                                                </td>
                                                <td><span class="glyphicon glyphicon-ok" data-ng-if="regroupement.identified"></span></td>
                                        </tr>
                                </tbody>
                        </table>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.regroupements.Groupe.success.length > 0 || result.rapport.regroupements.Groupe.error.length > 0">
                <label><em>{{result.rapport.regroupements.Groupe.success.length}}</em> Groupes prises en compte</label>
                <span class="label label-info" data-ng-repeat="groupe in result.rapport.regroupements.Groupe.success">{{groupe.nom}}</span>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.regroupements.Groupe.error.length > 0">
                <label><em>{{result.rapport.regroupements.Groupe.error.length}}</em> Groupes non prises en compte</label>
                <table class="table table-striped">
                        <thead>
                                <tr>
                                        <th width="37.5%">Groupe Pronote</th>
                                        <th width="37.5%">Groupe Annuaire</th>
                                        <th width="15%">
                                                <button class="btn btn-primary" data-ng-click="identifie_massivement_objets( result.rapport.regroupements.Groupe.error )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </th>
                                        <th width="15%"></th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr data-ng-repeat="regroupement in result.rapport.regroupements.Groupe.error track by $index">
                                        <td>{{regroupement.objet.Nom}}</td>
                                        <td>
                                                <select data-ng-options="r.id as r.libelle for r in regroupements.groupes_eleves | orderBy:'libelle'"
                                                        data-ng-model="regroupement.id_annuaire"></select>
                                        </td>
                                        <td>
                                                <button class="btn"
                                                        data-ng-class="{'disabled btn-default': !regroupement.id_annuaire, 'btn-primary': regroupement.id_annuaire}"
                                                        data-ng-click="identifie_objet( regroupement )">
                                                        <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                        </td>
                                        <td><span class="glyphicon glyphicon-ok" data-ng-if="regroupement.identified"></span></td>
                                </tr>
                        </tbody>
                </table>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.creneaux.success.length > 0 || result.rapport.creneaux.error.length > 0">
                <label><em>{{result.rapport.creneaux.success.length}}</em> Creneaux importés</label>
                <ul>
                        <li data-ng-repeat="creneau in result.rapport.creneaux.success">{{creneau}}</li>
                </ul>
        </div>

        <div class="panel-body" data-ng-if="result.rapport.creneaux.error.length > 0">
                <label><em>{{result.rapport.creneaux.error.length}}</em> Creneaux non prises en compte</label>
                <ul>
                        <li data-ng-repeat="creneau in result.rapport.creneaux.error track by $index">{{creneau}}</li>
                </ul>
        </div>
</div>
