<ol class="list-group">
    <li class="list-group-item"
        ng:class="{'active': !pronote || ui.loading_file}">
        <h1>Charger un fichier Pronote :</h1>
        <input type="file" file-model="fichier" />

        <button class="btn pull-right btn-default"
                ng:class="{'disabled': !fichier}"
                ng:click="load_data( fichier )" >
            <span class="glyphicon glyphicon-log-in"></span> <span ng:if="!pronote">C</span><span ng:if="pronote">Re-c</span>harger les données
        </button>

        <div class="clearfix"></div>
    </li>

    <li class="list-group-item active"
        ng:if="pronote && !ui.loading_file">
        <h1>Recoller les données manquantes et lancer l'import :</h1>

        <div class="panel panel-default import row" style="color: #333;">
            <h2 class="school-year">Année scolaire du {{pronote.AnneeScolaire[0].DateDebut | date:'fullDate'}} au {{pronote.AnneeScolaire[0].DateFin | date:'fullDate'}}</h2>
            <uib-tabset justified="true" active="0">

                <uib-tab ng:repeat="dataset in matcheable_data">
                    <uib-tab-heading>
                        <h4>{{dataset.title}}</h4>
                        ({{dataset.unmatched()}} à traiter sur {{dataset.total()}})
                        <div class="progress-bar-container rouge">
                            <div class="progress-bar vert-moins" ng:style="{ width: ( dataset.percent_valid() * 100 ) + '%' }"></div>
                        </div>
                    </uib-tab-heading>

                    <label class="pull-right">
                        <checkbox ng:model="scope.display_all"></checkbox>
                        Afficher tout.
                    </label>

                    <table class="table table-striped table-bordered table-hover table-condensed" >
                        <thead>
                            <tr>
                                <th>Pronote</th>
                                <th>Annuaire Académique</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:if="dataset.unmatched() == 0 && !scope.display_all">
                                <td colspan=3>
                                    <h3>Aucun recoupement à faire. </h3>
                                </td>
                            </tr>
                            <tr ng:repeat="node in dataset.pronote"
                                ng:if="node.edit || scope.display_all"
                                ng:class="{'ok': !node.edit, 'ko': node.edit}">
                                <td>
                                    <span>
                                        {{node.displayed_label}}
                                    </span>
                                </td>
                                <td>
                                    <span ng:if="!node.edit">{{node.laclasse.displayed_label}}</span>
                                    <select class="select-annuaire"
                                            ng:if="node.edit && matieres"
                                            ng:model="node.laclasse"
                                            ng:change="update_creneaux_readiness()"
                                            ng:options="official as official.displayed_label for official in dataset.annuaire | orderBy:['displayed_label']">{{official.displayed_label}}</select>
                                    <span class="glyphicon glyphicon-erase" style="cursor: pointer" ng:click="node.laclasse = null" ng:if="node.edit"></span>
                                </td>
                                <td>
                                    <button class="btn btn-default"
                                            ng:if="!node.edit"
                                            ng:click="node.edit = true"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>

                <uib-tab>
                    <uib-tab-heading>
                        <h4>Créneaux</h4>
                        ({{filtered_import ? counters.filtered_creneaux_ready : counters.creneaux_ready}} seront créés sur {{filtered_import ? counters.filtered_creneaux : counters.creneaux}})
                        <div class="progress-bar-container rouge">
                            <div class="progress-bar vert-moins" ng:style="{ width: ( counters.percent_creneaux_ready * 100 ) + '%' }"></div>
                        </div>
                    </uib-tab-heading>

                    <!-- Critères de filtrage -->
                    <fieldset>
                        <legend> <h4>Filtrage</h4>  </legend>

                        <!-- par regroupements -->
                        <div class="col-md-3">
                            <div class="ui-select-wrapper">
                                <ui-select multiple class="pull-left" theme="bootstrap"
                                           append-to-body="true"
                                           ng:disabled="!ui.display_problems && !ui.display_ready"
                                           ng:model="scope.selected.classes">
                                    <ui-select-match placeholder="Classe(s)...">{{$item.Nom}}</ui-select-match>
                                    <ui-select-choices repeat="classe in pronote.Classes[0].Classe | orderBy:['Nom']">
                                        {{classe.Nom}}
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-xs btn-primary"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.classes = pronote.Classes[0].Classe"><span class="glyphicon glyphicon-certificate"></span></button>
                                <button class="btn btn-xs btn-default"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.classes = []"><span class="glyphicon glyphicon-erase"></span></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ui-select-wrapper">
                                <ui-select multiple class="pull-left" theme="bootstrap"
                                           append-to-body="true"
                                           ng:disabled="!ui.display_problems && !ui.display_ready"
                                           ng:model="scope.selected.groupes">
                                    <ui-select-match placeholder="Groupe(s) d'élèves...">{{$item.Nom}}</ui-select-match>
                                    <ui-select-choices repeat="groupe in pronote.Groupes[0].Groupe | orderBy:['Nom']">
                                        {{groupe.Nom}}
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-xs btn-primary"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.groupes = pronote.Groupes[0].Groupe"><span class="glyphicon glyphicon-certificate"></span></button>
                                <button class="btn btn-xs btn-default"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.groupes = []"><span class="glyphicon glyphicon-erase"></span></button>
                            </div>
                        </div>

                        <!-- par enseignants -->
                        <div class="col-md-3">
                            <div class="ui-select-wrapper">
                                <ui-select multiple class="pull-left" theme="bootstrap"
                                           append-to-body="true"
                                           ng:disabled="!ui.display_problems && !ui.display_ready"
                                           ng:model="scope.selected.enseignants">
                                    <ui-select-match placeholder="Enseignant(s)...">{{$item.displayed_label}}</ui-select-match>
                                    <ui-select-choices repeat="enseignant in pronote.Professeurs[0].Professeur | orderBy:['Nom']">
                                        {{enseignant.displayed_label}}
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-xs btn-primary"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.enseignants = pronote.Professeurs[0].Professeur"><span class="glyphicon glyphicon-certificate"></span></button>
                                <button class="btn btn-xs btn-default"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.enseignants = []"><span class="glyphicon glyphicon-erase"></span></button>
                            </div>
                        </div>

                        <!-- par matières -->
                        <div class="col-md-3">
                            <div class="ui-select-wrapper">
                                <ui-select multiple class="pull-left" theme="bootstrap"
                                           append-to-body="true"
                                           ng:disabled="!ui.display_problems && !ui.display_ready"
                                           ng:model="scope.selected.matieres">
                                    <ui-select-match placeholder="Matière(s)...">{{$item.Libelle}}</ui-select-match>
                                    <ui-select-choices repeat="matiere in pronote.Matieres[0].Matiere | orderBy:['Nom']">
                                        {{matiere.Libelle}}
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-xs btn-primary"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.matieres = pronote.Matieres[0].Matiere"><span class="glyphicon glyphicon-certificate"></span></button>
                                <button class="btn btn-xs btn-default"
                                        ng:disabled="!ui.display_problems && !ui.display_ready"
                                        ng:click="scope.selected.matieres = []"><span class="glyphicon glyphicon-erase"></span></button>
                            </div>
                        </div>
                    </fieldset>
                    <!-- /Critères de filtrage -->

                    <fieldset class="summary">
                        <legend> <h4>Statistiques</h4>  </legend>

                        <fieldset class="summary"
                                  ng:if="etablissement_summary">
                            <legend> <h5>Établissement</h5> </legend>
                            <ul>
                                <li>{{etablissement_summary.nb_creneaux}} créneaux existants</li>
                                <li ng:if="etablissement_summary.imports.length > 0">Dernier import le {{etablissement_summary.imports[ etablissement_summary.imports.length - 1 ].date_import | date}}</li>
                            </ul>
                        </fieldset>
                        <fieldset class="summary">
                            <legend> <h5>Fichier Pronote</h5>  </legend>
                            <label>
                                Totalité des créneaux :
                                <ul>
                                    <li>{{counters.creneaux_ready}} créneaux valides</li>
                                    <li>{{counters.creneaux_not_ready}} créneaux invalides (données associées non recollées)</li>
                                    <li>{{counters.creneaux_broken}} créneaux non importables (données manquantes)</li>
                                </ul>
                            </label>
                            <div class="progress-bar-container noir"
                                 uib-tooltip="{{counters.creneaux_broken}} créneaux incomplets">
                                <div class="progress-bar rouge"
                                     ng:style="{ width: ( counters.creneaux / (counters.creneaux + counters.creneaux_broken) * 100 ) + '%' }"
                                     uib-tooltip="{{counters.creneaux_not_ready}} créneaux invalides"></div>
                                <div class="progress-bar vert-moins"
                                     ng:style="{ width: ( counters.creneaux_ready / (counters.creneaux + counters.creneaux_broken) * 100 ) + '%' }"
                                     uib-tooltip="{{counters.creneaux_ready}} créneaux valides"></div>
                            </div>

                            <label>
                                Créneaux filtrés :
                                <ul>
                                    <li>{{counters.filtered_creneaux_ready}} créneaux valides</li>
                                    <li>{{counters.filtered_creneaux_not_ready}} créneaux invalides (données associées non recollées)</li>
                                </ul>
                            </label>
                            <div class="progress-bar-container transparent" style="background-color: transparent;">
                                <div class="progress-bar rouge"
                                     ng:style="{ width: ( counters.filtered_creneaux / (counters.creneaux + counters.creneaux_broken) * 100 ) + '%' }"
                                     uib-tooltip="{{counters.filtered_creneaux_not_ready}} créneaux filtrés invalides"></div>
                                <div class="progress-bar vert-moins"
                                     ng:style="{ width: ( counters.filtered_creneaux_ready / (counters.creneaux + counters.creneaux_broken) * 100 ) + '%' }"
                                     uib-tooltip="{{counters.filtered_creneaux_ready}} créneaux filtrés valides"></div>
                            </div>
                        </fieldset>
                    </fieldset>

                    <uib-accordion>
                        <div uib-accordion-group is-open="ui.show_detailed_creneaux">
                            <uib-accordion-heading>
                                Afficher le détail des {{counters.filtered_creneaux}} créneaux <i class="glyphicon" ng:class="{'glyphicon-chevron-down': ui.show_detailed_creneaux, 'glyphicon-chevron-right': !ui.show_detailed_creneaux}"></i>
                            </uib-accordion-heading>
                            <div class="col-md-12"
                                 ng:if="ui.show_detailed_creneaux">
                                <div class="btn-group pull-right" role="group" style="margin:0 6px 6px 0;">
                                    <button class="btn"
                                            ng:class="{' btn-primary active': ui.display_ready, 'btn-default': !ui.display_ready}"
                                            ng:click="ui.display_ready = !ui.display_ready">
                                        <i class="glyphicon" ng:class="{'glyphicon-eye-open': ui.display_ready, 'glyphicon-eye-close': !ui.display_ready}"></i> Créneaux valides.
                                    </button>
                                    <button class="btn btn-default"
                                            ng:class="{' btn-primary active': ui.display_problems, 'btn-default': !ui.display_problems}"
                                            ng:click="ui.display_problems = !ui.display_problems">
                                        <i class="glyphicon" ng:class="{'glyphicon-eye-open': ui.display_problems, 'glyphicon-eye-close': !ui.display_problems}"></i> Créneaux à traiter.
                                    </button>
                                </div>
                            </div>

                            <table class="table table-striped table-bordered table-hover table-condensed"
                                   ng:class="{'hidden': !ui.show_detailed_creneaux}"
                                   ng:if="ui.show_detailed_creneaux">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['Jour'] )">Jour</a>
                                            <span ng:if="ui.sortCreneauxBy == ['Jour']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-Jour']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['NumeroPlaceDebut'] )">à</a>
                                            <span ng:if="ui.sortCreneauxBy == ['NumeroPlaceDebut']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-NumeroPlaceDebut']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['NombrePlaces'] )">pendant</a>
                                            <span ng:if="ui.sortCreneauxBy == ['NombrePlaces']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-NombrePlaces']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['Matiere'] )">matière</a>
                                            <span ng:if="ui.sortCreneauxBy == ['Matiere']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-Matiere']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['Professeur'] )">enseignant(s)</a>
                                            <span ng:if="ui.sortCreneauxBy == ['Professeur']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-Professeur']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['Classe','Groupe'] )">regroupement(s)</a>
                                            <span ng:if="ui.sortCreneauxBy == ['Classe','Groupe']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-Classe','-Groupe']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['Salle'] )">salle(s)</a>
                                            <span ng:if="ui.sortCreneauxBy == ['Salle']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-Salle']">↓</span>
                                        </th>
                                        <th>
                                            <a ng:click="ui.sort_creneaux_by( ['ready'] )"><i class="glyphicon glyphicon-warning-sign" title="Problème(s) identifié(s)"></i></a>
                                            <span ng:if="ui.sortCreneauxBy == ['ready']">↑</span>
                                            <span ng:if="ui.sortCreneauxBy == ['-ready']">↓</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--  | filter:filter_creneau( ui, scope.selected ) | orderBy:ui.sortCreneauxBy -->
                                    <tr ng:repeat="creneau in scope.creneaux | filter:filter_creneau( ui, scope.selected ) | orderBy:ui.sortCreneauxBy"
                                        ng:class="{'ok': creneau.ready, 'ko': !creneau.ready}">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{jours_de_la_semaine[ creneau.Jour ]}}
                                        </td>
                                        <td>
                                            {{pronote.plages_horaires[ creneau.NumeroPlaceDebut ].LibelleHeureDebut}}
                                        </td>
                                        <td>
                                            {{creneau.NombrePlaces * pronote.GrilleHoraire[0].DureePlace}} minutes
                                        </td>
                                        <td ng:class="{'ko rouge': !creneau.readiness.matiere }">
                                            <span ng:if="creneau.Matiere">{{pronote.matieres[ creneau.Matiere.Ident ].displayed_label}}</span>
                                        </td>
                                        <td ng:class="{'ko rouge': !creneau.readiness.enseignant }">
                                            <span ng:if="creneau.Professeur">{{pronote.enseignants[ creneau.Professeur.Ident ].displayed_label}} <sup uib-tooltip-html="beautify_semainier( creneau.Professeur.Semaines )" tooltip-trigger="'click'">({{creneau.Professeur.Semaines}})</sup></span>
                                        </td>
                                        <td ng:class="{'ko rouge': !creneau.readiness.classe && !creneau.readiness.groupe_eleve }">
                                            <span ng:if="creneau.Classe">{{pronote.classes[ creneau.Classe.Ident ].Nom}} <sup uib-tooltip-html="beautify_semainier( creneau.Classe.Semaines )" tooltip-trigger="'click'">({{creneau.Classe.Semaines}})</sup></span>
                                            <span ng:if="creneau.Groupe">{{pronote.groupes_eleves[ creneau.Groupe.Ident ].Nom}} <sup uib-tooltip-html="beautify_semainier( creneau.Groupe.Semaines )" tooltip-trigger="'click'">({{creneau.Groupe.Semaines}})</sup></span>
                                        </td>
                                        <td>
                                            <span ng:if="creneau.Salle">{{pronote.salles[ creneau.Salle.Ident ].Nom}} <sup uib-tooltip-html="beautify_semainier( creneau.Salle.Semaines )" tooltip-trigger="'click'">({{creneau.Salle.Semaines}})</sup></span>
                                        </td>
                                        <td class="import-readiness"
                                            ng:class="{'vert': creneau.ready, 'rouge': !creneau.ready }">
                                            <span ng:if="creneau.ready"> <i class="glyphicon glyphicon-ok" title="Aucun problème"></i> </span>

                                            <span ng:if="!creneau.readiness.matiere"> <i class="glyphicon glyphicon-book" title="Matière inconnue"></i> </span>
                                            <span ng:if="!creneau.readiness.enseignant"> <i class="glyphicon glyphicon-user" title="Enseignant inconnu"></i> </span>
                                            <span ng:if="!creneau.readiness.classe && !creneau.readiness.groupe_eleve"> <i class="glyphicon glyphicon-education" title="Classe/Groupe inconnu"></i> </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-accordion>
                </uib-tab>

            </uib-tabset>
        </div>

        <div class="pull-right col-md-4" style="text-align: right;">
            <label style="color:#fff;">
                N'importer que les créneaux filtrés <checkbox ng:model="scope.filtered_import"></checkbox>
            </label>

            <button class="btn btn-lg btn-warning"
                    ng:class="{'disabled': !pronote || !etablissement || !matieres}"
                    ng:click="process_import()">
                <span class="glyphicon glyphicon-cogs"></span> Valider
            </button>
        </div>
        <div class="clearfix"></div>
    </li>
</ol>
