<div class="modal-header">
    <h3>{{matiere}} - {{date | date : 'fullDate' }}</h3>
</div>
<div class="modal-body">

    <uib-tabset>
        <!-- ####################### Devoirs ####################### -->
        <uib-tab data-ng-if="devoirs.length > 0" heading="Travail à faire">
            <div data-ng-repeat="devoir in devoirs"
                 class="devoir col-md-12"
                 data-ng-class="{ 'type1': devoir.type_devoir_id == 1, 'type2': devoir.type_devoir_id == 2, 'type3': devoir.type_devoir_id == 3, 'type4': devoir.type_devoir_id == 4, 'type5': devoir.type_devoir_id == 5, 'type6': devoir.type_devoir_id == 6, 'fait': devoir.fait }" >
                <div class="col-md-5 infos">
                    <ul>
                        <li><span ><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/vendor/laclasse-common-client/images/picto_matiere.svg)'}"></i> Matière : <em>{{matiere}}</em></span></li>
                        <li><span ><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/vendor/laclasse-common-client/images/picto_devoir.svg)'}"></i> Type de devoir : <em>{{devoir.type_devoir.description}}</em></span></li>
                        <!-- <li data-ng-if="devoir.temps_estime > 0"><span><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/vendor/laclasse-common-client/images/picto_temps.svg)'}"></i> Temps estimé : <em>{{devoir.temps_estime * 5}} minutes</em></span></li> -->
                        <li class="clickable"
                            tooltip-trigger="'click'"
                            uib-tooltip-html="{{devoir.cours.contenu}}">
                            <span><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/vendor/laclasse-common-client/images/picto_cours.svg)'}"></i> Séquence pédagogique : <em>{{devoir.cours.date_cours | date : 'dd/MM'}}</em></span>
                        </li>
                    </ul>

                    <div data-ng-switcher
                         class="toggle-fait"
                         data-ng-if="!(devoir.type_devoir_id == 1) && current_user.profil_actif.profil_id === 'ELV'"
                         data-ng-model="devoir.fait"
                         data-ng-change="fait( devoir )" ></div>

                </div>
                <div class="col-md-6 contenu">
                    <span data-ng-bind-html="devoir.contenu"></span>

                    <ul data-ng-if="devoir.ressources.length > 0">
                        <li data-ng-repeat="ressource in devoir.ressources">
                            <a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </uib-tab>

        <uib-tab heading="Séquence pédagogique" data-active="tab_SP_active">
            <div class="col-md-5 infos">
                <ul>
                    <li><span ><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/vendor/laclasse-common-client/images/picto_matiere.svg)'}"></i> Matière : <em>{{matiere}}</em></span></li>
                    <li class="clickable" data-ng-repeat="devoir in cours.devoirs"
                        tooltip-trigger="'click'"
                        uib-tooltip-html="{{devoir.tooltip}}"
                        data-ng-class="{ 'type1': devoir.type_devoir_id == 1, 'type2': devoir.type_devoir_id == 2, 'type3': devoir.type_devoir_id == 3, 'type4': devoir.type_devoir_id == 4, 'type5': devoir.type_devoir_id == 5, 'type6': devoir.type_devoir_id == 6, 'fait': devoir.fait }" >
                        <span><i class="picto" data-ng-style="{'background-image':'url(' + app_path + '/app/vendor/laclasse-common-client/images/picto_devoir.svg)'}"></i> Devoir associé : <em>{{devoir.date_due | date : 'dd/MM'}}</em></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 contenu">
                <span data-ng-bind-html="cours.contenu"></span>

                <ul data-ng-if="cours.ressources.length > 0">
                    <li data-ng-repeat="ressource in cours.ressources">
                        <a target="_blank" href="{{ressource.url}}">{{ressource.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm pull-right" data-ng-click="fermer()">
        <span class="glyphicon glyphicon-remove-sign"></span> Fermer
    </button>
</div>
