<div class="modal-header">
    <h3>{{date | date : 'fullDate' }}<span ng:if="creneau.salles.length > 0">, salle {{creneau.salles[0].nom}}</span></h3>
</div>
<div class="modal-body">

    <uib-tabset>
        <!-- ####################### Devoirs ####################### -->
        <uib-tab ng:if="devoirs.length > 0" heading="Travail à faire">
            <div ng:repeat="devoir in devoirs"
                 class="devoir col-md-12" >
                <div class="col-md-6 contenu">
                    <display-devoir devoir="devoir"></display-devoir>
                </div>
                <div class="col-md-5 infos">
                    <ul>
                        <li class="clickable"
                            tooltip-trigger="'click'"
                            tooltip-placement="right"
                            uib-tooltip-html="devoir.cours.contenu">
                            <span><i class="picto" ng:style="{'background-image':'url(' + app_path + '/app/node_modules/laclasse-common-client/images/picto_cours.svg)'}"></i> Séquence pédagogique : <em>{{devoir.cours.date_cours | date : 'dd/MM'}}</em></span>
                        </li>
                    </ul>
                    <switch-devoir devoir="devoir"
                                   ng:if="current_user.profil_actif.profil_id === 'ELV'" ></switch-devoir>

                </div>
            </div>
            <div class="clearfix"></div>
        </uib-tab>

        <uib-tab heading="Séquence pédagogique" data-active="tab_SP_active">
            <div class="col-md-5 infos">
                <ul>
                    <li class="clickable" ng:repeat="devoir in cours.devoirs"
                        tooltip-trigger="'click'"
                        tooltip-placement="right"
                        uib-tooltip-html="devoir.tooltip"
                        ng:class="{ 'type1': devoir.type_devoir_id == 1, 'type2': devoir.type_devoir_id == 2, 'type3': devoir.type_devoir_id == 3, 'type4': devoir.type_devoir_id == 4, 'type5': devoir.type_devoir_id == 5, 'type6': devoir.type_devoir_id == 6, 'fait': devoir.fait }" >
                        <span><i class="picto" ng:style="{'background-image':'url(' + app_path + '/app/node_modules/laclasse-common-client/images/picto_devoir.svg)'}"></i> Devoir associé : <em>{{devoir.date_due | date : 'dd/MM'}}</em></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 contenu">
                <display-sequence-pedagogique sp="cours"></display-sequence-pedagogique>
            </div>
            <div class="clearfix"></div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm pull-right" ng:click="fermer()">
        <span class="glyphicon glyphicon-remove-sign"></span> Fermer
    </button>
</div>
