<form class="navbar-form span12">
  <div class="navbar-inner">
    <select class="span2" ui-select2 data-ng-model="classeCourante" data-placeholder="Toute les classes" data-ng-change="process_data()">
      <option value="" selected>Toute les classes</option>
      <option data-ng-repeat="classe in classes">{{classe}}</option>
    </select>

    <select class="span2" ui-select2 data-ng-model="moisCourant" data-placeholder="Toute l'année" data-ng-change="process_data()">
      <option value="-1">Toute l'année</option>
      <option data-ng-repeat="unmois in mois" value="{{$index + 1}}">{{unmois}}</option>
    </select>

    <select class="span2" ui-select2 data-ng-model="matiereCourante" data-placeholder="Toute les matières" data-ng-change="process_data()">
      <option value="-1">Toute les matières</option>
      <option data-ng-repeat="matiere in matieres">{{matiere}}</option>
    </select>

  </div>
</form>

<div class="span12" style="background-color:#dcd">
  <canvas piechart data="pieChart.data" options="pieChart.options" width="300" height="300"></canvas>
  <span class="badge badge-info">{{global_stats.validated}} / {{global_stats.filled}}</span>
</div>

<div class="span2" x-ng-show="classeCourante == ''" x-ng-repeat="regroupement in individualPieCharts" style="background-color:#ede">
  <span class="label label-info">{{regroupement.regroupement_id}}</span>
  
  <canvas piechart data="regroupement.data" options="regroupement.options" width="60" height="60"></canvas>

  <span class="badge badge-info">{{regroupement.data[0].value}} / {{regroupement.data[0].value + regroupement.data[1].value}}</span>
</div>

<div class="span12" style="background-color:#fdd">
  {{global_stats}}
  <br>
  <br>
  <br>
{{data}}
</div>
