<form class="navbar-form">
  <div class="navbar-inner">
    <select class="span2" ui-select2 data-ng-model="enseignant" data-placeholder="Tous les enseignants">
      <option value="-1">Tous les enseignants</option>
      <option data-ng-repeat="enseignant in enseignants" value="{{enseignant.id}}">{{enseignant.name}}</option>
    </select>

    <select class="span2" ui-select2 data-ng-model="mois" data-placeholder="Toute l'année" data-ng-change="process_data()">
      <option value="-1">Toute l'année</option>
      <option data-ng-repeat="mois in annee" value="{{$index + 1}}">{{mois}}</option>
    </select>
  </div>
</form>

<div class="span4 offset4">
  <canvas radarchart options="radar.options" data="radar.data" width="384" height="384"></canvas>
</div>

<div data-ng-grid="gridEnseignants"></div>
