<form class="navbar-form">
  <div class="navbar-inner">
    <select class="span2" ui-select2 data-ng-model="enseignant" data-placeholder="Tous les enseignants">
      <option value=""></option>
      <option data-ng-repeat="enseignant in enseignants">{{enseignant.name}}</option>
    </select>

    <select class="span2" ui-select2 data-ng-model="mois" data-placeholder="Toute l'année">
      <option value=""></option>
      <option data-ng-repeat="mois in annee">{{mois}}</option>
    </select>
  </div>
</form>
<!-- {{enseignants}} -->

{{radar.data}}
<canvas radarchart options="radar.options" data="radar.data" width="300" height="300"></canvas>

<div>
  <div data-d3 data-d3-data="radar.data" data-d3-renderer="radar.renderer"></div>
</div>

<div data-ng-grid="gridEnseignants"></div>
