<div class="navbar span12">
  <div class="navbar-inner">
    <a class="brand" href="#/principal">Principal</a>
    <ul class="nav">
      <li data-ng-class="{active:tab=='classes'}">
        <a href="#/principal/classes" data-ng-click="tab='classes'">Validation des saisies par Classe/Groupe</a>
      </li>
      <li data-ng-class="{active:tab=='enseignants'}">
        <a href="#/principal/enseignants" data-ng-click="tab='enseignants'">Validation des saisies par Enseignants</a>
      </li>
      <li data-ng-class="{active:tab=='enseignant'}">
        <a href="#/principal/enseignant" data-ng-click="tab='enseignant'">Validation des saisies d'un Enseignant</a>
      </li>
    </ul>
  </div>
</div>

<div ui-view="titre" class="span12"></div>
<div ui-view="content" class="span12"></div>
