<div class="panel panel-default">
  <div class="panel-body">

    <select class="col-md-3" ui-select2 data-ng-model="classe" data-placeholder="Toutes les classes" data-ng-change="process_data()">
      <option value="-1">Toutes les classes</option>
      <option data-ng-repeat="classe in classes" value="{{classe}}">{{classe}}</option>
    </select>


    <select class="col-md-3" ui-select2 data-ng-model="moisCourant" data-placeholder="Toute l'année" data-ng-change="process_data()">
      <option value="-1">Toute l'année</option>
      <option data-ng-repeat="unmois in mois" value="{{$index + 1}}">{{unmois}}</option>
    </select>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-body">
	  <p><a href="mailto:{{data.email}}">{{data.email}}</a></p>
	  <p>{{data.discipline}}</p>
	  <p>Professeur principal en <span data-ng-repeat="classe in data.classesPrincipal">{{classe}}{{($last != true) && ", " || ""}}</span></p>
	  <p><span data-ng-repeat="classe in data.classes">{{classe}}{{($last != true) && ", " || ""}}</span></p>
	</div>
      </div>
    </div>  
    <div class="col-md-8">
      <div class="panel panel-default">
	<div class="panel-body">
	  <canvas piechart data="graphiques.pieChart.data" options="graphiques.pieChart.options" width="256" height="256"></canvas>
	  <canvas barchart data="graphiques.barChart.data" options="graphiques.barChart.options" width="256" height="256"></canvas>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="btn-group btn-group-xs col-md-offset-8">
      <a class="btn btn-default" data-ng-click="selectionneNonValides()">Sélectionne les non validés</a>
      <a class="btn btn-default" data-ng-click="valideSelection()">Valider la sélection</a>
    </div>
    <div class="col-md-12" style="float:left" data-ng-grid="grid"></div>
  </div>
</div>

