<div class="message" ng:if="empty">
    <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div class="panel panel-default" ng:if="!empty">
    <div class="panel-body">

        <div class="ui-select-wrapper col-md-12">
            <ui-select multiple class="pull-left" theme="bootstrap"
                       append-to-body="true"
                       ng:change="process_data()"
                       ng:model="scope.selected_regroupements">
                <ui-select-match placeholder="Regroupement(s)...">
                    <span class="label" ng:class="{'label-success': $item.type === 'GRP', 'label-info': $item.type === 'CLS' }">
                        {{$item.name}}
                    </span>
                </ui-select-match>
                <ui-select-choices repeat="regroupement in regroupements | orderBy:['type','name']"
                                   group-by="'type'">
                    <span class="label" ng:class="{'label-success': regroupement.type === 'GRP', 'label-info': regroupement.type === 'CLS' }">
                        {{regroupement.name}}
                    </span>
                </ui-select-choices>
            </ui-select>
            <button class="btn btn-xs btn-primary"
                    ng:click="select_all_regroupements()"><span class="glyphicon glyphicon-certificate"></span></button>
            <button class="btn btn-xs btn-default"
                    ng:click="select_no_regroupements()"><span class="glyphicon glyphicon-erase"></span></button>
        </div>

        <select class="col-md-3"
                ng:model="scope.selected_mois"
                ng:change="process_data()"
                ng:options="annee.indexOf(m)+1 as m for m in annee">
            <option value="">Toute l'année</option>
        </select>

        <select class="col-md-3"
                ng:model="scope.selected_matiere"
                ng:change="process_data()"
                ng:options="m.id as m.name for m in matieres">
            <option value="">Toute les matières</option>
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <nvd3 class="col-md-4" data="pieChart.data" options="pieChart.options"></nvd3>
            <nvd3 class="col-md-8" data="multiBarChart.data" options="multiBarChart.options"></nvd3>
        </div>
        <div class="row">
            <ul class="col-md-12">
                <li class="label label-primary">{{creneaux_emploi_du_temps.vides.length}} créneaux vierges
                    <button class="btn btn-danger btn-xs"
                            ng:click="delete_creneaux( creneaux_emploi_du_temps, 'vides' )"
                            ng:if="creneaux_emploi_du_temps.vides.length > 0">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </li>
                <li class="label label-success">{{creneaux_emploi_du_temps.pleins.length}} créneaux avec saisies
                    <button class="btn btn-danger btn-xs"
                            ng:click="delete_creneaux( creneaux_emploi_du_temps, 'pleins' )"
                            ng:if="creneaux_emploi_du_temps.pleins.length > 0">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12" ng:if="!regroupement">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
         ng:repeat="regroupement in individualCharts.regroupements | orderBy:['regroupement.type', 'regroupement.name']">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">
                <span class="label" ng:class="{'label-success': regroupement.regroupement.type === 'GRP', 'label-info': regroupement.regroupement.type === 'CLS' }">
                    {{regroupement.regroupement.name}}
                </span>
            </h3></div>
            <div class="panel-body">
                <nvd3 data="regroupement.pieChart.data" options="regroupement.pieChart.options"></nvd3>
                <ul>
                    <li class="label label-primary">{{regroupement.data.creneaux_emploi_du_temps.vides.length}} créneaux vierges
                        <button class="btn btn-danger btn-xs"
                                ng:click="delete_creneaux( regroupement.data.creneaux_emploi_du_temps, 'vides' )"
                                ng:if="regroupement.data.creneaux_emploi_du_temps.vides.length > 0">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </li>
                    <li class="label label-success">{{regroupement.data.creneaux_emploi_du_temps.pleins.length}} créneaux avec saisies
                        <button class="btn btn-danger btn-xs"
                                ng:click="delete_creneaux( regroupement.data.creneaux_emploi_du_temps, 'pleins' )"
                                ng:if="regroupement.data.creneaux_emploi_du_temps.pleins.length > 0">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
