body {
    background: #fafafa;
    font-family: "Open Sans", sans-serif;
    color: #333;
    overflow-x: hidden;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
    }
}

.container {
    padding-top: 0;
}

header {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
    z-index: 1;
    height: 112px;
    .user {
	padding: 1em;
    }
}
header.embedded {
    padding-top: 15px;
    height: 68px;
}

#ui-view-content {
    padding: 0 15px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* Tabs */
.onglets {
    text-align: center;
    box-shadow: 0 4px 4px -2px #aaa;
    margin-bottom: 5px;
    padding: 0 1em;
    a {
	margin: 0.5em;
    }
}

/* Modal */
.modal-dialog {
    width: 90%;
    max-width: 797px;
}

/* Tooltip */
.tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    font-weight: normal;
}

.infos .tooltip-inner hr {
    border-color: #333;
    color: #333;
    margin: 0;
}

/* Cahier de Textes */
/* Calendrier */

h2 {
    font-size: 1.3em;
}

.fc-state-default {
    background-image: none;
    box-shadow: 0;
    color: #333;
    text-shadow: 0;
}

.fc-center {
    position: absolute;
}

.fc-center > h2 {
    font-size: 21px;
    font-weight: bolder;
}
.fc-event {
    border-radius: 0;
}
.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}

.fc-state-default.fc-corner-right,
.fc-state-default.fc-corner-left {
    border-radius: 0;
}

.cdt-agendaDay-container {
    overflow: auto;
}

.cdt-agendaDay-event {
    width: 220%;
}

.cdt-agendaDay-cours {
    background-color: #aaaaff;
}

.cdt-agendaDay-devoir {
    background-color: #ff6666;
}

.cdt-agendaDay-devoir-fait {
    background-color: #66cc66;
}

.fc-content {
    display: table;
    height: 100%;
    .glyphicon-paperclip {
	position: absolute;
    }
    .fc-title {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	line-height: 1em;
    }
}

.clickable-event {
    cursor: pointer;
}

.un-clickable-event {
    cursor: default;
}

.est-time {
    box-shadow: 0 0 0 1px #333;
    height: 4px;
    top: 0;
    position: absolute;
}

.est-time-1 {
    width: 6.666666666666667%;
}

.est-time-2 {
    width: 13.333333333333334%;
}

.est-time-3 {
    width: 20.0%;
}

.est-time-4 {
    width: 26.666666666666668%;
}

.est-time-5 {
    width: 33.333333333333336%;
}

.est-time-6 {
    width: 40.0%;
}

.est-time-7 {
    width: 46.66666666666667%;
}

.est-time-8 {
    width: 53.333333333333336%;
}

.est-time-9 {
    width: 60.0%;
}

.est-time-10 {
    width: 66.66666666666667%;
}

.est-time-11 {
    width: 73.33333333333334%;
}

.est-time-12 {
    width: 80.0%;
}

.est-time-13 {
    width: 86.66666666666667%;
}

.est-time-14 {
    width: 93.33333333333334%;
}

.est-time-15 {
    width: 100.0%;
}

.edt-cours {
    background-color: #929292;
}

.edt-cours-saisie, .edt-cours-saisie-valide {
    background-color: #707070;
}

.edt-cours-saisie-valide {
    border-left: 8px solid #0f0;
}

.edt-permanence {
    background-color: #d5d5d5;
}

.edt-devoir-a-faire {
    background-color: #ae8ab8;
}

.edt-devoir-fait {
    background-color: #8dc47c;
}

/* .edt-devoir-note-maison{ background-color: #00afd4 } */
/* .edt-devoir-note-surveille{ background-color: #f56d68 } */

.edt-devoir-note-maison {
    background-color: #1aa1cc;
}

.edt-devoir-note-surveille {
    background-color: rgb(232, 194, 85);
}

/* #e173ff */
/* #70397f */
/* #c199cc */
/* #f1bfff */

.edt-cours-saisie, .edt-devoir-a-faire, .edt-devoir-fait {
    font-weight: bold;
}

.timepicker {
    display: inline-block;
}

.modal-footer {
    text-align: center;
}

/* Principal */
/** Enseignants **/

.bloc-enseignant {
    .panel {
	height: 11em;
    }
    .panel-heading {
	padding-top: 0;
	padding-bottom: 0;
	span.glyphicon {
	    cursor: pointer;
	    margin-left: 3px;
	}
    }
    .panel-body {
	text-align: center;
	.badge {
	    text-align: left;
	}
    }
}

.tooltip * {
    text-align: left;
}

/** Enseignant **/

.principal-enseignant-grid {
    padding: 0;
}

.ng-valid.glyphicon-ok-sign {
    color: #0f0;
}

/* Enseignant */

.panel-heading.enseignant-saisie {
    input, select {
	display: inline;
    }
    .panel-title {
	display: inline;
	width: 33%;
    }
    input {
	border: 1px solid #aaa;
    }
}

.ajout-devoir {
    color: #999;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.edition-creneau select {
    width: 12.5em;
}

.accordion-toggle {
    cursor: pointer;
}

.duplication-saisie {
    div {
	width: 100%;
	min-height: 20em;
    }
    .footer {
	min-height: 2.5em;
	max-height: 2.5em;
	height: 2.5em;
    }
    select {
	width: 100%;
    }
}

.ressources {
    .attached-document {
	float: left;
	border: 1px solid #aaa;
	background-color: #999;
	margin: 3px;
	padding-left: 2px;
	a {
	    color: #fff;
	}
    }
    .dropdown-menu {
	padding: 3px;
    }
    .upload, .treecontrol-container {
	float: left;
	width: 100%;
    }
}

.treecontrol-container {
    max-height: 10em;
    overflow: auto;
    background-color: #fff;
}

.tree-label button {
    float: right;
    line-height: 1.4em;
    padding: 0 5px;
}

.tree-leaf {
    text-align: left;
    &.odd {
	background-color: #ded;
    }
    &.even {
	background-color: #fff;
    }
}

.message {
    width: 40%;
    margin: 0 auto;
}

.compteur {
    border-radius: 1em;
    background-color: #f00;
    color: #fff;
    font-weight: bolder;
    padding: 0 .4em;
}

.body-header {
    text-align: center;
}

#loading-bar .bar {
    height: 12px;
    opacity: 0.66;
}

.individualPieChart {
    float: left;
    height: 64px;
    width: 64px;
}

footer {
    color: #555;
    font-size: 0.8em;
    text-align: right;
}

.devoir .date {
    color: #aba;
    font-size: 2em;
    font-weight: bold;
}

.devoir {
    .info, .contenu {
	margin-left: 3em;
    }
    .info .matiere {
	font-weight: bold;
    }
    .todo, .detail {
	margin: 6px;
    }
    .todo {
	margin-top: 8px;
	button {
	    border: 0;
	}
    }
    .date {
	margin-left: 0.7em;
	text-transform: uppercase;
    }
    .title {
	border-bottom: 1px solid #ccc;
    }
    .devoir {
	border-left: 1px solid #ccc;
    }
}

.todo-list .devoir {
    padding-top: 0;
    padding-bottom: 0;
    .title {
	text-align: center;
	margin-bottom: 0;
    }
    h5 {
	font-weight: bold;
    }
    .todo, .detail {
	text-align: center;
	margin: auto;
	margin-top: 5em;
    }
    .todo {
	.switch {
	    margin: 0 auto;
	}
    }
    .detail {
	a.btn {
	    display: inline-block;
	}
    }
    .contenu {
	margin-left: -15px;
    }
}

.cahier-de-textes {
    h2 { text-align: center;
	 text-transform: uppercase;
	 color: #b2b2b2;
	 font-size: 21px;
	 font-weight: bolder; }
    .creneau {
	list-style-type: none;
	padding-bottom: 0;
	.date {
	    border-bottom: 1px solid #ddd;
	    h3 {
		margin: 0;
		padding: 0.5em 1.7em 1em;
		font-size: 18px;
		font-weight: bolder;
		color: #b2b2b2;
	    }
	}
	.detail {
	    border-left: 1em solid transparent;
	    padding-top: 1em;
	    padding-bottom: 1em;
	    &.vise {
		border-color: #0f0;
	    }
	    .infos {
		span {
		    float: left;
		    width: 100%;
		}
		.regroupement, .matiere {
		    font-weight: bold;
		}
		.matiere {
		    color: #8e8e8e;
		}
	    }
	    .devoir {
		list-style: none;
		span {
		    float: left;
		    width: 100%;
		}
		.type {
		    font-weight: bold;
		}
		.temps-estime {
		    color: #b2b2b2;
		}
		.contenu {
		    margin: 0;
		}
	    }
	    .actions {
		text-align: center;
		padding-top: 2em;
	    }
	}
    }
}

.modal {
    background: rgba( 0, 0, 0, 0.5 );
}

.modal-header {
    padding: 0;
    h3 {
	font-size: 18px;
	font-weight: bolder;
	color: #aaa;
	text-align: center;
    }
    h4 {
	font-size: 16px;
	font-weight: bolder;
	color: #aaa;
	text-align: center;
    }
}
.modal-body {
    .tab-content {
	min-height: 20em;
	// max-height: 34em;
	overflow-x: hidden;
	overflow-y: auto;
	border: 0;
    }
    .infos ul {
	padding-left: 0;
	width: 100%;
	li {
	    width: 100%;
	    text-align: left;
	    list-style: none;
	    line-height: 2em;
	    em {
		font-weight: bold;
		font-style: normal;
	    }
	}
    }
    .toggle-fait {
	margin-bottom: 5px;
	.switch {
	    margin: 0 auto;
	}
    }
    .infos {
	.clickable {
	    border: 1px solid #666;
	    cursor: pointer;
	    font-size: 0.9em;
	    padding: 0 0.15em;
	}
	.type1, .type2, .type3, .type4, .type5, .type6, .a-faire, .fait {
	    border-left: 0.5em solid #fff;
	}
    }
}

.type1, .type2, .type3, .type4, .type5, .type6, .a-faire, .fait {
    border-left: 1.5em solid #fff;
}

.modal-body .infos .type1, .type1 {
    border-color: #8c6896;
}

/*DS*/

.modal-body .infos .type2, .type2 {
    border-color: #9d79a7;
}

/*DM*/

.modal-body .infos .type3, .type3 {
    border-color: #ae8ab8;
}

/*Leçon*/

.modal-body .infos .type4, .type4 {
    border-color: #be8bb8;
}

/*Exposé*/

.modal-body .infos .type5, .type5 {
    border-color: #ce8cb8;
}

/*Recherche*/

.modal-body .infos .type6, .type6 {
    border-color: #de8db8;
}

/*Exercice*/

.modal-body .infos .a-faire, .a-faire {
    border-color: #f1f2f3;
}

/*Devoir à faire*/

.modal-body .infos .fait, .fait {
    border-color: #8dc47c;
}

/*Devoir fait*/

.temps-est-on, .temps-est-off {
    display: inline-block;
    border: 1px solid #666;
    border-radius: 1em;
    height: 8px;
    width: 8px;
    margin: 0 0 0 1px;
}

.temps-est-on {
    background-color: #eecd6c;
}

/* pictos */

.picto {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: cover;
    color: #111;
}

fieldset .label {
    margin: 1px;
}

label {
    color: #999;
    span.new-SP-or-devoir {
	float: left;
	font-size: 90%;
    }
}

h3, .h3 {
    text-transform: uppercase;
}

.edition-creneau {
    line-height: 4;
    .horaire {
	label {
	    margin-right: 2em;
	}
	.dropdown.horaire {
	    line-height: 0;
	    margin: 0 1em 0 0.5em;
	    display: inline-block;
	    font-weight: bold;
	    font-size: 1.2em;
	    .dropdown-menu {
		text-align: center;
		min-width: 115px;
	    }
	    a {
		color: #000;
		&:hover {
		    text-decoration: none;
		}
	    }
	}
    }
}

/* Pour ngSwitcher */

.switch {
    border-radius: 13px;
    &.switch-left {
	background-color: #ae8ab8;
	border-color: #ae8ab8;
    }
    &.switch-right {
	background-color: #8dc47c;
	border-color: #8dc47c;
	color: #8dc47c;
    }
    .switch-button {
	height: 26px;
	width: 26px;
	margin-top: 1px;
	border: 0;
    }
    &.switch-left .switch-button {
	left: 1px;
    }
    &.switch-right .switch-button {
	left: 21px;
    }
}

.btn.supprimer {
    width: 100%;
    font-size: 80%;
}

.supprimer ul {
    padding: 6px;
}

.user-preferences {
    margin-left: -34%;
    margin-top: -25%;
    padding: 6px;
    position: relative;
}

.panel-footer {
    background-color: #888;
}

.deleted {
    background: none repeat scroll 0 0 #ddd;
    color: #678;
    text-align: center;
}

.vacances {
    background-color: #eeeefa;
}

.not-yours {
    background-color: #f0ad4e;
}

.options {
    margin-left: 1em;
    line-height: 2em;
}

.alert-default {
    border-color: transparent;
}

.switch {
    .switch-button {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5em;
	padding: 3px;
    }
    &.switch-right .switch-button::before {
	content: " \f00c";
    }
    &.disabled {
	cursor: default;
	opacity: 0.5;
    }
}

fieldset {
    margin: 0 3px;
    legend {
	font-size: 0.65em;
	margin: 0;
	border: 0;
    }
    .btn-group {
	float: left;
	height: 100%;
	.btn.btn-xs {
	    font-size: 0.65em;
	    width: 2em;
	    margin: 2px;
	}
	.btn:active, .btn.active {
	    box-shadow: 0;
	}
    }
}
.legende, .semainier {
    .active {
	background-color: #e8c254;
	border-color: transparent;
	box-shadow: 0;
    }
    .vacances {
	background-color: #b2b2b2;
	border-color: transparent;
	box-shadow: 0;
    }
    .this-week {
	font-weight: bold;
	border-color: #323232;
    }
}
.semainier {
    fieldset {
	float: left;
	max-width: 4em;
    }
    .btn-group-xs > .btn, .btn-xs {
	padding: 1px;
    }
}
.btn-group.templates-semainier {
    .btn {
	margin: 0 4px;
    }
}
.legende {
    font-size: 0.75em;
    span {
	cursor: inherit;
	display: inline-block;
	height: 1.5em;
	width: 1em;
	margin-left: 1em;
    }
}

.recent {
    opacity: 0.55;
}
/* textAngular */
.ta-root {
    padding: 0;
}

.ta-toolbar {
    background-color: #eee;
    button.btn {
	padding: 6px 7px;
    }
}

.ta-scroll-window.ta-text.ta-editor, .ta-scroll-window > .ta-bind {
    min-height: 150px;
}

.ta-text td {
    border: 1px solid #16161d;
}

/* directive cartable */
.cartable { padding-left: 0; }
.cartable .cartable li { padding-left: 1.5em; }
.cartable .glyphicon-folder-close { cursor: pointer; }
.cartable .disabled { color: #aaa; }
.cartable .disabled button.from-docs { display: none; }
.cartable button.from-ct { display: none; }
.cartable .disabled button.from-ct { display: inline; }


// Page import
.rapport {
    .panel-body {
	label {
	    float: left;
	    width: 100%;
	}
	span.label {
	    float: left;
	    margin: 0 0 2px 2px;
	}
    }
}
