# coding: utf-8
#
# Constants de l'application Cahier de Textes
#

# Options nécessaires au décryptage des fichiers exportés par ProNote
PRONOTE = {
  nom_integrateur: 'LaclasseCom',
  cle_integrateur: '/dummy/path'
}.freeze
