# -*- coding: utf-8 -*-
#
# Configuration de la base de données de Backend
#
# Generated automatically with "rake db:configure" command at 27/02/2014.
#
require 'logger'
require 'sequel'

DB_CONFIG = { name: 'CahierDeTextes',
              host: '127.0.0.1',
              user: 'root',
              password: '',
              charset: 'utf8' }.freeze

DB = Sequel.mysql2( DB_CONFIG[:name],
                    host: DB_CONFIG[:host],
                    user: DB_CONFIG[:user],
                    password: DB_CONFIG[:password],
                    charset: DB_CONFIG[:charset] )

Sequel.extension(:pagination)
Sequel.extension(:migration)

# Uncomment this if you want to log all DB queries
# DB.loggers << Logger.new($stdout)
