# frozen_string_literal: true

# Fenêtre de temps en minutes durant laquelle les cours et devoirs effacés restent accessibles par les APIs get
UNDELETE_TIME_WINDOW = 5

# development ou production
ENV['RACK_ENV'] = 'development'

# niveau de log de l'application
LOG_LEVEL = '' # Logger::INFO

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '/ct'

# Langage par défaut de l'application
LANG = 'fr'

# Url de l'ENT
URL_ENT = 'http://localhost'

# Url des Docs
URL_DOCS = 'http://localhost/docs'

SSL = true

ANNUAIRE = { url: 'http://localhost/api',
             app_id: 'CTXT',
             api_key: 'Clé secrete de signature des requetes REST' }.freeze

# Options nécessaires au décryptage des fichiers exportés par ProNote
PRONOTE = { nom_integrateur: 'LaclasseCom',
            cle_integrateur: '/home/cycojesus/projets/Erasme/laclasse-cahiertextes/clef_privee' }.freeze

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Version de l'application
APP_VERSION = %x(git describe --tags).chomp

CACHE_BUSTER = Time.now.to_i.to_s
