# -*- encoding: utf-8 -*-
#
# Fichier de configuration de l'application
#

# development ou production
ENV[ 'RACK_ENV' ] = 'development'

# niveau de log de l'application
LOG_LEVEL = ''.freeze # Logger::INFO

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Mapping HAProxy de l'application, ex : '/v3/ct'
APP_PATH = '/app'.freeze

# Version de l'application
APP_VERSION = %x( git describe --tag ).chomp

# Langage par défaut de l'application
LANG = 'fr'.freeze

# Clé de hachage pour les cookies Rack
SESSION_KEY = 'SomeKey'.freeze

# Durée de la session en seconde (défaut 3600)
SESSION_TIME = 3600

# Url de l'ENT
URL_ENT = 'http://v3dev.laclasse.com'.freeze

# Url des Docs
DOCS_URL = 'https://v3dev.laclasse.com/docs'.freeze

# nom du serveur d'annuaire ENT (xml-aaf académiques)
SERVICE_ANNUAIRE_ENT = 'http://www.dev.laclasse/com/annuaire/'.freeze

#
# Configuration du Serveur d'Authentification Central CAS
#
module CASAUTH
  CONFIG = { host: 'v3dev.laclasse.com',
             ssl: true,
             port: 443,
             disable_ssl_verification: true,
             login_url: '/sso/login',
             restmod_url: '/sso/api/tickets',
             service_validate_url: '/sso/serviceValidate',
             logout_url: '/sso/logout',
             logout_saml_url: '/saml/saml2/idp/SingleLogoutService.php' }.freeze
end

#
# Configuration du service d'annuaire de l'ENT
#
ANNUAIRE = { url: 'http://www.dev.laclasse.com/api/app',
             app_id: 'Identifiant de l application dans l annuaire',
             api_key: 'Clé secrete de signature des requetes REST' }.freeze

#
# Configuration du service REDIS
#
REDIS = { host: 'redis.dev.laclasse.lan',
          port: 6379,
          redis_root: 'com.laclasse.v3localhost' }.freeze
