<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="fermer()">&times;</button>
  <h3>{{matiere}}</h3>
</div>
<div class="modal-body">

  <div class="panel panel-default col-md-12">
    <div class="panel-body" data-ng-bind-html="cours.contenu"></div>
  </div>

  <div class="panel panel-default col-md-12" data-ng-repeat="devoir in devoirs">
    <div class="panel-body" data-ng-bind-html="devoir.contenu"></div>
    <button class="btn btn-success pull-right" data-ng-click="fait( devoir.id )" data-ng-show="devoir.fait == false">
      <span class="glyphicon glyphicon-unchecked"></span> Fait
    </button>
    <button class="btn btn-default pull-right" data-ng-show="devoir.fait == true" disabled>
      <span class="glyphicon glyphicon-check"></span> Fait
    </button>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-info pull-right" data-ng-click="fermer()">
    <span class="glyphicon glyphicon-remove-sign"></span> Fermer
  </button>
</div>
