<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="fermer()">&times;</button>
  <h3>{{titre}}</h3>
</div>
<div class="modal-body">

  <accordion close-others="false">
    <!-- ####################### Devoirs ####################### -->
    <accordion-group data-is-open="groups.devoirs.ouvert">
      <accordion-heading>
	<span class="glyphicon" ng-class="{'glyphicon-chevron-down': groups.devoirs.ouvert, 'glyphicon-chevron-right': !groups.devoirs.ouvert}"> Travail à faire</span>
      </accordion-heading>

      <div class="panel panel-default" data-ng-repeat="devoir in devoirs">
	<div class="panel-heading">
	  {{devoir.type_devoir_description}} pour le {{devoir.date_due | date : 'fullDate'}}
	</div>
	<div class="panel-body" data-ng-bind-html="devoir.contenu"></div>
	<div class="panel-footer">

	  <div class="pull-right">
	    <div data-ng-switcher data-ng-hide="devoir.type_devoir_id == 1"
		 data-ng-model="devoir.fait"
		 data-ng-change="fait( devoir.id )" ></div>
	  </div>
	  <span>Temps estimé : {{devoir.temps_estime * 5}} minutes</span>
	  <ul data-ng-show="devoir.ressources.length > 0">
	    <li data-ng-repeat="ressource in devoir.ressources">
	      <a target="_blank" href="http://www.dev.laclasse.com/docs-beta/api/connector?cmd=file&target={{ressource.hash}}">{{ressource.name}}</a>
	    </li>
	  </ul>
	  <div class="clearfix"></div>
	</div>
      </div>
    </accordion-group>
    <accordion-group data-is-open="groups.sequence_pedagogique.ouvert">
      <accordion-heading>
	<span class="glyphicon" ng-class="{'glyphicon-chevron-down': groups.sequence_pedagogique.ouvert, 'glyphicon-chevron-right': !groups.sequence_pedagogique.ouvert}"> Séquence pédagogique du {{cours.date_cours | date : 'fullDate' }}</span>
      </accordion-heading>
      <div class="panel panel-default">
	<div class="panel-body" data-ng-bind-html="cours.contenu"></div>
	<div class="panel-footer" data-ng-show="cours.ressources.length > 0">
	  <ul>
	    <li data-ng-repeat="ressource in cours.ressources">
	      <a target="_blank" href="http://www.dev.laclasse.com/docs-beta/api/connector?cmd=file&target={{ressource.hash}}">{{ressource.name}}</a>
	    </li>
	  </ul>
	</div>
      </div>
    </accordion-group>
  </accordion>
</div>
<div class="modal-footer">
  <button class="btn btn-info btn-sm" data-ng-click="fermer()">
    <span class="glyphicon glyphicon-remove-sign"></span> Fermer
  </button>
</div>
