<div class="message" data-ng-show="empty">
  <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div class="panel panel-default"data-ng-hide="empty">
  <div class="panel-heading">
    <input data-ng-model="affiche_faits" type="checkbox" id="display-done" name="display-done" data-ng-change="filtre()"/>
    <label for="display-done">Afficher les devoirs déjà fait</label>
  </div>
  <div class="panel-body">
    <ul class="list-group todo-list">
      <li data-ng-repeat="devoir in devoirs | orderBy:'date_due':true" style="list-style:none" class="devoir list-group-item"
	  data-ng-class="{ 'type1': devoir.type_devoir_id == 1, 'type2': devoir.type_devoir_id == 2, 'type3': devoir.type_devoir_id == 3, 'type4': devoir.type_devoir_id == 4, 'type5': devoir.type_devoir_id == 5, 'type6': devoir.type_devoir_id == 6 }" >

	<div class="pull-left date">{{devoir.date_due | date: 'dd/MM'}}</div>
	<div class="pull-left info">
	  <span class="matiere">{{devoir.matiere.libelle_court}}</span><br>
	  {{devoir.type_devoir.label}}<br>
	  <span data-ng-show="devoir.temps_estime">{{devoir.temps_estime * 5}} minutes</span>
	</div>

	<div class="pull-left contenu" data-ng-bind-html="devoir.contenu"></div>

	<div class="pull-right todo">
	  <div data-ng-switcher data-ng-model="devoir.fait"></div>
	</div>

	<div class="pull-right detail">
	  <button class="btn btn-default" data-ng-click="ouvre_popup_details( devoir.matiere.libelle_court, devoir.cours, [ devoir ] )">Détail</button>
	</div>

	<div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>
