<!-- See more at: http://cssload.net/#sthash.l1QOwdDd.dpuf -->
<div id="bowlG" data-ng-show="loading">
  <div id="bowl_ringG">
    <div class="ball_holderG">
      <div class="ballG">
      </div>
    </div>
  </div>
</div>


<div class="message" data-ng-show="empty">
  <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div data-ng-hide="loading || empty">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
	<div class="panel-body">
	  <input data-ng-model="affiche_faits" type="checkbox" id="display-done" name="display-done" data-ng-change="filtre()"/>
	  <label for="display-done">Afficher les devoirs déjà fait</label>
	</div>
      </div>
    </div>

    <div class="col-md-12" data-ng-repeat="devoir in devoirs">
      <div class="panel panel-default">
	<div class="panel-body">
	  <span class="badge badge-info">{{devoir.type_devoir}}</span>
	  <span data-ng-bind-html="devoir.contenu"></span>
	  <button class="btn btn-success pull-right" data-ng-click="fait( devoir.id )" data-ng-show="devoir.fait == false">
	    <span class="glyphicon glyphicon-unchecked"></span> Fait
	  </button>
	  <button class="btn btn-default pull-right" data-ng-show="devoir.fait == true" disabled>
	    <span class="glyphicon glyphicon-check"></span> Fait
	  </button>
	</div>
      </div>
    </div>
  </div>
</div>
