<div class="message" data-ng-show="empty">
  <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div data-ng-hide="empty">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <input data-ng-model="affiche_faits" type="checkbox" id="display-done" name="display-done" data-ng-change="filtre()"/>
	  <label for="display-done">Afficher les devoirs déjà fait</label>
	</div>
	<div class="panel-body">
	  <ul>
	    <li data-ng-repeat="devoir in devoirs" style="list-style:none">
	      <div class="alert" data-ng-class="{'alert-success': devoir.fait, 'alert-danger': !devoir.fait}">
		<span class="badge badge-info">{{devoir.type_devoir}}</span>
		<span data-ng-bind-html="devoir.contenu"></span>
		<button class="btn btn-success pull-right" data-ng-click="fait( devoir.id )" data-ng-show="devoir.fait == false">
		  <span class="glyphicon glyphicon-unchecked"></span> Fait
		</button>
		<button class="btn btn-default pull-right" data-ng-show="devoir.fait == true" disabled>
		  <span class="glyphicon glyphicon-check"></span> Fait
		</button>
	      </div>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>
