
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div data-calendar="emploi_du_temps" data-ui-calendar="calendar.options" class="col-md-12 calendar" data-ng-model="calendar.events"></div>
            <div class="col-md-12">
                <div class="pull-right">
                    <span class="label saisie-vide" title="Créneaux d'emploi du temps">emploi du temps</span>
                    <span class="label saisie-invalide" title="Saisie d'un cours sans devoir associé">cours</span>
                    <span class="label saisie-devoirs" title="Devoir à faire">devoir à faire</span>
                    <span class="label saisie-devoirs-fait" title="Devoir fait ! Youpi !">devoir fait</span>
                </div>
            </div>
        </div>
    </div>
</div>
