<div ng-controller="EleveDisplayController">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#/eleve">Élève</a>
      <ul class="nav">
        <li ng-class="{active:tab=='cours'}">
          <a href="#/eleve/cours" ng-click="tab='cours'">Cours</a>
        </li>
        <li ng-class="{active:tab=='devoirs'}">
          <a href="#/eleve/devoirs" ng-click="tab='devoirs'">Devoirs</a>
        </li>
      </ul>
    </div>
  </div>

  <div ui-view="content"></div>
</div>
