<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" x-ng-click="fermer()">&times;</button>
  <h3>{{matiere}}</h3>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Séquence pédagogique</h3>
    </div>
    <div class="panel-body">
      <textarea x-ui-tinymce x-ng-model="cours.contenu"></textarea>
    </div>
    <div class="panel-footer">
      <span x-ng-bind-html="cours.contenu"></span>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Travail à faire</h3>
      <input x-ui-date x-ui-date-format="yy-mm-dd" x-ng-model="devoir.date_due"> {{devoir.date_due}}
    </div>
    <div class="panel-body">
      <textarea x-ui-tinymce x-ng-model="devoir.contenu"></textarea>
    </div>
    <div class="panel-footer">
      <span x-ng-bind-html="devoir.contenu"></span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info pull-right" x-ng-click="fermer()">
    <span class="glyphicon glyphicon-remove-sign"></span> Fermer
  </button>
  <button class="btn btn-success pull-right" x-ng-click="valider()">
    <span class="glyphicon glyphicon-ok-sign"></span> Valider
  </button>
</div>
