<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" data-ng-click="fermer()">&times;</button>

  <h3>
    <span data-ng-hide="regroupement_id == ''">{{classes[ regroupement_id ]}}</span>
    <select data-ng-show="regroupement_id == ''">
      <option data-ng-repeat="cls in classes_array" value="{{cls.id}}">{{cls.nom}}</option>
    </select>
    -
    <span data-ng-hide="matiere == ''">{{matieres[ matiere_id ]}}</span>
    <select data-ng-show="matiere == ''">
      <option data-ng-repeat="mat in matieres_array" value="{{mat.id}}">{{mat.nom}}</option>
    </select>
  </h3>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Séquence pédagogique</h3>
    </div>
    <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="cours.contenu"></textarea>
    <div class="panel-footer">
      <ul>
	<li data-ng-repeat="ressource in cours.ressources">{{ressource.url}}</li>
      </ul>
      <input type="file">

      <ul>
	<li data-ng-repeat="creneau in creneaux_similaires">
	  <input type="checkbox" />
	  {{classes[ creneau.regroupement_id ]}} . {{creneau.creneau_emploi_du_temps_id}}
	</li>
      </ul>
      <button class="btn btn-primary" data-ng-click="dupliquer()">
	<span class="glyphicon glyphicon-plus-sign"></span> Copier vers d'autres classes
      </button>
    </div>
  </div>

  <button class="btn btn-primary" data-ng-click="ajout_devoir()">
    <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un devoir
  </button>

  <div class="panel panel-default" data-ng-repeat="devoir in devoirs">
    <div class="panel-heading enseignant-saisie">
      <h3 class="panel-title">Travail à faire</h3>
      <div class="pull-right">
	<select data-ui-select2 data-ng-model="devoir.type_devoir_id" data-placeholder="Type de devoir">
	  <option data-ng-repeat="type_de_devoir in types_de_devoir" value="{{type_de_devoir.id}}">
	    {{type_de_devoir.description}}
	  </option>
	</select>
	<!-- input data-ui-date="{ dateFormat: 'd M yy' }" data-ui-date-format="d M yy" data-ng-model="devoir.date_due" -->
	<input data-ui-date="{ dateFormat: 'yy-mm-dd' }" data-ui-date-format="yy-mm-dd" data-ng-model="devoir.date_due">
      </div>
    </div>
    <textarea class="panel-body" data-ui-tinymce="tinyMCEOptions" data-ng-model="devoir.contenu"></textarea>
    <div class="panel-footer">
      <ul>
	<li data-ng-repeat="ressource in devoir.ressources">{{ressource.url}}</li>
      </ul>
      <input type="file">
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-info pull-right" data-ng-click="fermer()">
    <span class="glyphicon glyphicon-remove-sign"></span> Fermer
  </button>
  <button class="btn btn-success pull-right" data-ng-click="valider()">
    <span class="glyphicon glyphicon-ok-sign"></span> Valider
  </button>
</div>
