<div class="message" data-ng-show="empty">
  <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div data-ng-hide="empty">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
	<select data-ng-model="classe" data-ng-change="process_data()" data-ng-options="classe.id as classe.libelle for classe in classes">
	  <option value="" selected>Toute les classes</option>
	</select>

	<select class="col-md-3" data-ng-model="moisCourant" data-ng-change="process_data()" data-ng-options="mois.indexOf(m) as m for m in annee">
	  <option value="">Toute l'année</option>
	</select>

	<select class="col-md-3" data-ng-model="matiereCourante" data-ng-change="process_data()" data-ng-options="m.id as m.libelle for m in matieres">
	  <option value="">Toute les matières</option>
	</select>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
	<nvd3-pie-chart id="globalPieChart" class="col-md-4"
			data="pieChart.data"
			margin="{left:0,top:0,bottom:0,right:0}"
			height="256"
			x="xFunction()"
			y="yFunction()"
			color="colorFunction()"
			showLabels="true"
			labelType="value"
			showLegend="true"
			tooltips="true"
			pieLabelsOutside="false"
			objectEquality="true" >
	  <svg></svg>
	</nvd3-pie-chart>
	<nvd3-line-chart id="globalLineChart" class="col-md-8"
			 data="monthlyLineChart.data"
			 height="256"
			 useInteractiveGuideline="true"
			 showXAxis="true"
			 showYAxis="true"
			 showLegend="true"
			 tooltips="true"
			 objectEquality="true"
			 xAxisTickFormat="xAxisTickFormatFunction()" >
	  <svg></svg>
	</nvd3-line-chart>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-3" data-ng-show="classe == null" data-ng-repeat="individualChart in individualCharts.classes">
	<div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title">{{individualChart.libelle}}</h3></div>
	  <div class="panel-body">
	    <nvd3-pie-chart id="individualPieChart{{$index}}" class="individualPieChart"
			    width="64"
			    height="64"
			    data="individualChart.pieChart.data"
			    margin="{left:0,top:0,bottom:0,right:0}"
			    x="xFunction()"
			    y="yFunction()"
			    color="colorFunction()"
			    showLabels="false"
			    labelType="value"
			    showLegend="false"
			    tooltips="true"
			    pieLabelsOutside="false"
			    objectEquality="true"
			    noData="Aucune saisie" >
	      <svg></svg>
	    </nvd3-pie-chart>

	    <span class="badge badge-info">{{individualChart.pieChart.data[0].value}} / {{individualChart.pieChart.data[0].value + individualChart.pieChart.data[1].value}}</span>
	  </div>
	</div>
      </div>
    </div>

  </div>
</div>
