<div class="message" data-ng-show="empty">
  <h1><span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span> Aucune donnée</span></h1>
</div>

<div data-ng-hide="empty">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
	<select data-ng-model="classe" data-ng-change="process_data()" data-ng-options="classe.id as classe.libelle for classe in classes">
	  <option value="" selected>Toute les classes</option>
	</select>

	<select class="col-md-3" data-ng-model="moisCourant" data-ng-change="process_data()" data-ng-options="annee.indexOf(m)+1 as m for m in annee">
	  <option value="">Toute l'année</option>
	</select>

	<select class="col-md-3" data-ng-model="matiereCourante" data-ng-change="process_data()" data-ng-options="m.id as m.libelle for m in matieres">
	  <option value="">Toute les matières</option>
	</select>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
	<nvd3-pie-chart id="globalPieChart" class="col-md-4"
			data="pieChart.data"
			margin="{left:0,top:0,bottom:0,right:0}"
			height="256"
			x="pieChart.xFunction()"
			y="pieChart.yFunction()"
			color="pieChart.colorFunction()"
			showLabels="true"
			labelType="value"
			showLegend="true"
			tooltips="true"
			pieLabelsOutside="false"
			objectEquality="true"
			noData="Aucune saisie" >
	  <svg></svg>
	</nvd3-pie-chart>
	<nvd3-multi-bar-chart id="globalBarChart" class="col-md-8"
			      data="barChart.data"
			      height="256"
			      color="barChart.colorFunction()"
			      showXAxis="true"
			      showYAxis="true"
			      tooltips="true"
			      tooltipcontent="barChart.tooltipContent()"
			      rotateLabels="20"
			      objectEquality="true"
			      xAxisTickFormat="barChart.xAxisTickFormatFunction()"
			      noData="Aucune saisie" >
	  <svg></svg>
	</nvd3-multi-bar-chart>
      </div>
    </div>

    <div class="col-md-12" data-ng-hide="classe">
      <div class="col-md-3" data-ng-repeat="classe in individualCharts.classes">
	<div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title">{{classe.regroupement.libelle}}</h3></div>
	  <div class="panel-body">
	    <nvd3-pie-chart id="individualPieChart{{$index}}" class="individualPieChart"
			    width="64"
			    height="64"
			    data="classe.pieChart.data"
			    margin="{left:0,top:0,bottom:0,right:0}"
			    x="classe.pieChart.xFunction()"
			    y="classe.pieChart.yFunction()"
			    color="classe.pieChart.colorFunction()"
			    showLabels="false"
			    labelType="value"
			    showLegend="false"
			    tooltips="true"
			    pieLabelsOutside="false"
			    objectEquality="true"
			    noData="Aucune saisie" >
	      <svg></svg>
	    </nvd3-pie-chart>

	    <span class="badge badge-info">{{classe.pieChart.data[0].value}} / {{classe.pieChart.data[0].value + classe.pieChart.data[1].value}}</span>
	  </div>
	</div>
      </div>
    </div>

  </div>
</div>
