<div class="row">

  <div class="panel panel-default">
    <div class="panel-body">
      <select class="col-md-2" data-ng-model="mois" data-ng-change="process_data()" data-ng-options="annee.indexOf(m) as m for m in annee">
	<option value="">Toute l'année</option>
      </select>
      <select class="col-md-2" data-ng-model="classe" data-ng-change="process_data()" data-ng-options="class as class for (id, class) in classes">
	<option value="">Toutes les classes</option>
      </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body row-fluid">
      <nvd3-pie-chart id="globalPieChart" class="col-md-4"
		      data="pieChart.data"
		      margin="{left:0,top:0,bottom:0,right:0}"
		      x="pieChart.xFunction()"
		      y="pieChart.yFunction()"
		      color="pieChart.colorFunction()"
		      showLabels="true"
		      labelType="value"
		      showLegend="true"
		      tooltips="true"
		      pieLabelsOutside="false"
		      objectEquality="true"
		      noData="Aucune saisie" >
	<svg></svg>
      </nvd3-pie-chart>
      <nvd3-multi-bar-chart id="globalBarChart" class="col-md-8"
			    data="barChart.data"
			    height="256"
			    color="barChart.colorFunction()"
			    showXAxis="true"
			    showYAxis="true"
			    tooltips="true"
			    tooltipcontent="barChart.tooltipContent()"
			    rotateLabels="20"
			    objectEquality="true"
			    xAxisTickFormat="barChart.xAxisTickFormatFunction()"
			    noData="Aucune saisie" >
	<svg></svg>
      </nvd3-multi-bar-chart>
    </div>
  </div>

  <div class="col-md-3 bloc-enseignant" data-ng-repeat="individualChart in individualCharts.enseignants">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h4>
	  <span class="glyphicon glyphicon-home"
		tooltip-trigger="click mouseenter"
		tooltip-html-unsafe="{{htmlify_classes_list( individualChart.enseignant.classes )}}"></span>
	  <span class="glyphicon glyphicon-briefcase"
		tooltip-trigger="click mouseenter"
		tooltip-html-unsafe="{{htmlify_matieres_list( individualChart.enseignant.matieres )}}"></span>
	  <a data-ui-sref="principal.enseignant({ enseignant_id: individualChart.enseignant.id_ent })">
	    {{individualChart.enseignant.full_name}}
	  </a>
	</h4>
      </div>
      <div class="panel-body">
	<span data-ng-show="individualChart.pieChart.data[0].value + individualChart.pieChart.data[1].value == 0">
	  Aucune saisie à ce jour.
	</span>
	<span data-ng-hide="individualChart.pieChart.data[0].value + individualChart.pieChart.data[1].value == 0">
	  <nvd3-pie-chart id="individualPieChart{{$index}}" class="individualPieChart"
			  width="64"
			  height="64"
			  data="individualChart.pieChart.data"
			  margin="{left:0,top:0,bottom:0,right:0}"
			  x="individualChart.pieChart.xFunction()"
			  y="individualChart.pieChart.yFunction()"
			  color="individualChart.pieChart.colorFunction()"
			  showLabels="false"
			  labelType="value"
			  showLegend="false"
			  tooltips="true"
			  pieLabelsOutside="false"
			  objectEquality="true"
			  noData="Aucune saisie" >
	    <svg></svg>
	  </nvd3-pie-chart>
	  <span class="badge badge-info">
	    {{individualChart.pieChart.data[0].value + individualChart.pieChart.data[1].value}} saisies<br>
	    {{individualChart.pieChart.data[0].value}} visées
	  </span>
	</span>
      </div>
    </div>
  </div>

</div>
